[2020-11-27 06:53] sitano opened #2926 "Exception: No db log from node"
Started seeing those:

[code]

Before this branch worked well. Failed 3 times conseq.

[2020-11-27 07:08] fruch commented on #2926
@sitano Can you share the link ?

is this multi-dc ? or have you were running this locally ?

I'm guessing it might be this one #2921

[2020-11-27 07:25] sitano commented on #2926
@fruch yes, https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/ivan/job/ivan-byo-longevity/33/console. Also 31, 32, 33. It's single DC, single AZ.

[2020-11-27 07:59] fruch commented on #2926
@sitano
any reason you are passing in the pipeline params ?
[code]
I think that would trigger the usage of autossh too and you'll need #2921

[2020-11-27 08:53] sitano commented on #2926
@fruch no, I did not pay attention to it. I thought this setting means that the SCT will use public IP addresses for accessing cluster nodes. Is that correct? To enable 2921 I just need to rebase my branches?

[2020-11-27 09:08] fruch commented on #2926
Yes, and you can also try it with that setting private

[2020-11-27 09:09] fruch commented on #2926
I.e. you can still access those node from public ips, but the test itself would access them from private address

[2020-11-27 09:11] fruch commented on #2926
This setting is from when you aren't running the test from the same network as the nodes.

For debugging or for when we are running multi DC (or multi AZ, for that matter)

[2020-11-27 16:22] sitano commented on #2926
@fruch thank you! I will try rebase and private.

[2020-11-29 23:42] #2561 closed

[2020-11-30 22:06] amoskong commented on #2858
The kernel check of rpm had been removed by https://github.com/scylladb/scylla/commit/6238d105d9eaf30d50fd9a20fc9d1bbfcdcf458b

This install issue won't happen.

@roydahan Let's close this issue?

Meanwhile, we need to merge the new PR of oel8.1 (https://github.com/scylladb/scylla-cluster-tests/pull/2915)

[2020-12-02 02:08] asias commented on #1897
@fruch @roydahan @bentsi Please consider make hydra work with podman. I checked the latest master it does not support podman.

From time to time, you guys ask developers to look at the logs or monitors using the hydra command. How do we look if it even does not work on our development machine?

[code]

[2020-12-02 02:09] asias commented on #1897
[code]

[2020-12-02 03:25] asias opened #2947 "Do not reuqire root to install hydra"
- If the Docker or Podman or Pip are not installed, promote the suggested commands to install them.
- Do not link to /usr/local/bin

With the above, we can install and use hydra as plain user.

[2020-12-02 07:48] fruch commented on #2947
just a comment, I don't think it's working with podman (at least not yet)

[2020-12-02 07:59] fruch commented on #1897
@asias we don't yet support podman,

for it to work, docker (a.k.a Moby), need to be installed
https://fedoramagazine.org/docker-and-fedora-32/

[2020-12-04 01:33] asias commented on #1897
Any technical issues prevents hydra to work with podman? I doubt it is a lot of work to make it work with podman.

I do not want to install docker just for hydra. Our build system dbuild and scylla-monitor all work with podman.

[2020-12-04 01:34] asias commented on #2947
It does not. I tried multiple times in the past.

[2020-12-04 05:30] fruch commented on #1897
Yes there are, we are using docker-in-docker, and rely on the docker Unix domain socket for using it from the code

There is a new experimental feature in podman that can supply an API compatible with docker that might help.

I tried that, and failed to get it working, I know @eliransin also tried.

If you think you know how to solve those two things, we'll be more then happy to review a PR for it

[2020-12-04 06:55] asias commented on #1897
Are you using nested docker (host -> container 1 -> container 2)? Or just starting another docker instance on host from the container 1?

[2020-12-06 07:00] shoshan commented on #2874
@roydahan @bentsi occured again.
Test-id: 689dfa02-d790-42fc-a3c3-d94f24b6aeb2

`
2020-12-03 18:23:42.765: (DisruptionEvent Severity.ERROR): type=end name=SnapshotOperations node=Node longevity-counters-multidc-4-3-db-node-689dfa02-4 [52.35.234.61 | 10.0.2.95] (seed: False) duration=156 error=Encountered a bad command exit code!
Command: '/usr/bin/nodetool  snapshot system_schema -cf  '
Exit code:

[2020-12-06 07:43] eliransin commented on #1897
I did try it, it doesn't currently work because of some inconsistencies in the API, those are bugs that are likely to be fixed in
one of the versions. I think I can solve most or all of them, however, I don't have time to deal with this.
@fruch those problems are solvable and I expressed my opinion about the importance of supporting podman but I guess it is
in a different priority on your queue :s

[2020-12-06 07:49] fruch commented on #1897
I know everything is solvable, it's just code, isn't it ?
I've played with it a bit, and got the the unix domain socket to work locally on my machine, but failed in mounting it into the podman instance. I can put a PR in place with what I have so far, but it's not yet complete solution. (i.e. I've got hydra running on podman, but it couldn't do things like `hydra investigate show-monitor`, since I

[2020-12-06 08:06] eliransin commented on #1897
@fruch

I meant to say easily solvable with a 2-3 man days...

Actually there is a solution for that, you can use an ip address instead of unix socket, although I had no problem at all
mounting the unix socket - you just need to create a rootless one. The reason I used an IP was so I can look at the rest traffic using wireshark and compare behavior between docker and podman.
There are other proble

[2020-12-06 08:20] bentsi commented on #2874
@shoshan do we have the same issue in master?

[2020-12-06 08:36] nyh commented on #1897
Even if you do rely on docker, I don't see how "docker on docker" is an excuse for anything. If I understand correctly, you need "docker on docker" to run tests locally, but most users will never want to do that - they want to use SCT as a tool for starting tests on an AWS cluster. For that you do not need docker on docker. Or any fancy docker feature that doesn't exist in Python.

Please don't ho

[2020-12-06 09:51] fruch commented on #1897
it might work for very specific commands, i.e. those that doesn't need to interact with docker at all.
but no for all of them, starting the local monitoring stack, as example, might be problematic regardless (and I'm not really sure working with podman out of the box, maybe it's now does)
we are using the docker with it's python client is some cases, for specific reason (also in dtest), you might

[2020-12-06 10:00] eliransin commented on #1897
@nyh this looks like more of a theological than technical discussion to me, I agree that you do have a point that choosing one operating system over the other can be problematic. My angle on it though is quite different that yours and it actually represents
the exact opposite approach, when we choose to develop (or build) on a very specific environment it make it very hard to claim that you can bu

[2020-12-06 10:15] fgelcer opened #2962 "SSL server certificate hot reload messages missed by SCT nemesis mechanism"
### Versions
* **SCT**: master
* **scylla**: 4.3.rc2

### Logs
* test_id: 3ddaf7ec-bce8-41a7-823f-96464863a002
* job log: https://jenkins.scylladb.com/job/scylla-4.3/job/Reproducers/job/lwt-24h-multidc-lower-stress-during-prepare/1/

### Description
following a fix by @Orenef11 (#2869), it still didn't catch the updates in the lwt 24h multi DC job:

[code]

but checking each node, i can see that e

[2020-12-06 10:55] nyh commented on #1897
I believe that all the users who complained about this - on this issue and outside this issue - want to use SCT on a cloud cluster. In fact that is *why* we developers want to use SCT (if we wanted to run Scylla locally, we don't really need SCT for that). It is less important for me whether, if I ever ask SCT to run nodes locally, that would require docker. I'm not planning to do this anyway.

Ye

[2020-12-06 13:41] fruch commented on #1897
@eliransin
https://github.com/scylladb/scylla-cluster-tests/pull/2965

This is the best I could do, and docker inside hydra the isn't working like that, i.e. starting monitoring stack doesn't work.

[2020-12-07 07:34] roydahan commented on #2874
We have it in 4.3.
Why wouldn’t we have it on master?
Has this code changed?

@shoshan please try to fix the issue yourself and send PR.

[2020-12-07 07:52] eliransin commented on #1897
@fruch - are you going to fix this in the future? If yes, how far into the future?
Should @asias or I hold our breath waiting for this support?
If not - please close this issue with "won't fix" label. Arguing that it can't be done is not helping nor does it true.
It can be done and it is a matter of priority and I will understand that it is not part of the priority right now, I also have prioritie

[2020-12-07 08:01] fruch commented on #1897
I didn't argue it can't be done, I'm just saying I can't invest more into finding those solutions.
I think installing moby is good enough option for now, we don't have the bandwidth to support both options right now.

Totally agree, exactly the reason why I'm not gonna invest more time into it, at least no in this stage.

I don't mind waiting, since there are, working alternatives right now (i.e.

[2020-12-07 09:18] eliransin commented on #1897
OK, so I believe you can close this issue with the "wont fix" label.

[2020-12-07 10:02] bentsi commented on #2874
there were changes made in this Nemesis, but now I see that it was backported to 4.3. I will ask @juliayakovlev to check this.

[2020-12-07 10:26] #2962 closed

[2020-12-07 11:39] roydahan commented on #1897
Eliran / Asias & Nadav, if you think that you still have gaps here, let's
hold  a meeting to discuss it.

On Mon, Dec 7, 2020 at 11:18 AM Eliran Sinvani <notifications@github.com>
wrote:

[2020-12-07 16:22] #2874 closed

[2020-12-08 07:58] sitano commented on #2926
@fruch Thank you! everything works after rebase. With `private` I guess can't login into the nodes via SSH.

[2020-12-08 07:58] #2926 closed

[2020-12-10 09:12] roydahan opened #2991 "Error during GrowCluster nemesis"
Master SCT (ef927cf7).

Every time GrowShrinkCluster nemesis runs, we get the following traceback.
(I used nemesis_add_node_cnt: 3, if it matters)

2020-12-09 23:58:23.172: (DisruptionEvent Severity.ERROR): type=GrowCluster subtype=end node=Node longevity-100gb-4h-test-asy-db-node-e6a19134-2 [54.246.69.67 | 10.0.0.76] (seed: True) duration=341 error='NoneType' object has no attribute 'running_neme

[2020-12-10 09:21] roydahan commented on #2991
Assigned to @fgelcer as the last one who touched this area.
Please check it.

[2020-12-10 10:14] dkropachev commented on #2991
https://github.com/scylladb/scylla-cluster-tests/pull/2992

[2020-12-10 10:16] dkropachev commented on #2991
fixed

[2020-12-10 10:16] #2991 closed

[2020-12-17 10:39] shoshan opened #3015 ""DatabaseLogEvent Severity.ERROR" occurring during break_streaming_task_and_rebuild"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

Test details

    Test: longevity_test.LongevityTest.test_custom_time
    Build number: 24
    Backend: aws: eu-north-1
    Test-id: d52f2b53-5a7b-407f-ad5a-9f29642762c7
    Start time: 2020-12-15 13:41:41
    End time: 2020-12-15 16:54:34
    Started

[2020-12-20 10:14] shoshan opened #3023 "nemesis TerminateAndReplaceNode need to filter event of C-S "Connection reset by peer""
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [master]
* **scylla**: [4.4.dev-0.20201217.a60c81b61 with build-id 2d4859128c252569f28931ada0b983ef01df4f52]

### Logs
* test_id: [d76cc552-3960-4ef7-b970-5cb3ad1b9b48]
* job log: [e.x. https://cloudius-jenkins-test.s3.amazonaw

[2020-12-20 18:42] fgelcer opened #3027 "longevity 5000 tables RebuildStreamingErr timed out waiting for db_up"
### Versions
* **SCT**: branch-4.3
* **scylla**: 4.3.rc2-0.20201210.2148a194c21 with build-id e5eb54096ba980c90c06c4741b0356dea02dc4fa (ami-08aaddc100281dc7d on eu-north-1)

### Logs
* test_id: 8f3c83be-138b-4af3-a3c7-dc872c1c1f5b
* job log: https://jenkins.scylladb.com/job/scylla-4.3/job/Reproducers/job/scylla-jmx-crash-longevity-5000-tables/4/

### Description

during `RebuildStreamingErr` nemes

[2020-12-20 19:16] fgelcer commented on #3027
another example, in the very same test, during `StopWaitStartService` nemesis the timeout is 500 seconds, but the time for Scylla to start was ~1150 seconds

[2020-12-20 19:54] fgelcer opened #3028 "c-s load called during nemesis (to create test bed) are failing - making nemesis to fail as tables are not being created"
### Versions
* **SCT**: branch-4.3
* **scylla**: 4.3.rc2-0.20201210.2148a194c21 with build-id e5eb54096ba980c90c06c4741b0356dea02dc4fa (ami-08aaddc100281dc7d on eu-north-1)

### Logs
* test_id: 8f3c83be-138b-4af3-a3c7-dc872c1c1f5b
* job log: https://jenkins.scylladb.com/job/scylla-4.3/job/Reproducers/job/scylla-jmx-crash-longevity-5000-tables/4/

### Description

for example, during `Refresh`:
[co

[2020-12-22 17:12] juliayakovlev opened #3045 "test"
**Issue description**

====================================

PUT ISSUE DESCRIPTION HERE

====================================

[2020-12-22 17:14] #3045 closed

[2020-12-23 07:36] #3015 closed

[2020-12-23 12:34] roydahan commented on #3027
Please check in the logs what was taking that long? was it reshaping?
add here the breakdown times of the startup.
Also compare it to 4.2 runs.

[2020-12-23 12:40] roydahan commented on #3028
@fgelcer please fix it.

[2020-12-23 13:10] fgelcer commented on #3027
checking, downloading logs

[2020-12-23 15:51] fgelcer commented on #3027
1st of all, after node has been hard rebooted, and the service is starting, there are ~60 reactor stalls of more than 1 second (between 1301 and 1302 ms)
[code]

[2020-12-23 15:56] fgelcer commented on #3027
but that is actually already after the nemesis timed out.

this is what i have in the logs:
[code]

between `init - creating and verifying directories` and `Populating Keyspace system_schema` there is a time window of 9 minutes (nemesis timed out after 5 minutes)

[2020-12-23 15:58] fgelcer commented on #3027
can't see in the node's logs anything more than that... there were few 651 ms reactor stalls since the service starts coming up, but can't see any other Scylla activity

[2020-12-23 16:37] roydahan commented on #3027
Open a scylla issue with these details and details from the StopStartService (that you mentioned above) with the same breakdown that shows what took that long.

[2020-12-23 20:13] fgelcer commented on #3027
in one of the 4.2 jobs (still dunno which nemesis that was, but) one of the nodes has few `shutdown` and `initialization`, but they took ~2 minutes at the most:
[code]

[2020-12-24 11:49] fgelcer commented on #3027
this above is a `StopStartService` nemesis.

there are 2 times `RebuildStreamingErr`:

1st disruption start and end events:
[code]

from node-5 log:
[code]
so, from `starting` to `started` it took ~130 seconds

the 2nd one, the events start and end:
[code]

and from node-3 logs:
[code]

that has also ~130 seconds between `starting` and `started`

the difference from 4.3 is that the `creating and v

[2020-12-24 11:49] fgelcer commented on #3027
updated it on https://github.com/scylladb/scylla/issues/7829#issuecomment-750859611

[2020-12-26 13:42] dkropachev commented on #2737
Fixed on current loaders

[2020-12-26 13:42] #2737 closed

[2020-12-27 10:05] fgelcer commented on #3028
#3062

[2020-12-27 21:15] fgelcer opened #3063 "nodetool status didn't happen before and after few of nemesis"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: branch-4.3
* **scylla**: 4.3.rc3

### Logs
* test_id: b3a128e5-6563-459d-aeb4-eae163a7bedf
* job log: https://jenkins.scylladb.com/job/scylla-4.3/job/longevity/job/longevity-5000-tables-test/8/

it is very strange, but there we

[2020-12-27 21:19] fgelcer commented on #3063
last `nodetool status` was during this nemesis:
[code]

[2020-12-28 08:28] amoskong opened #3066 "NonRoot offline install: fetch scylla-server log from ~/scylladb/scylla-server.log"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: scylla master & 4.3

### Logs

test id: fb649268-6c3a-4f5b-9fe0-34c3cfc76890
version: scylla-unified-package-4.4.dev.0.20201225.72c2482f7.tar.gz

### Description

Scylla-server log was redirected to ~/scyll

[2020-12-28 08:34] aleksbykov commented on #3066
@amos, logcollecter have to collect scylla-server.log during log collecting?
or even sct doesn't write any output frin scylla-server.log to sct logs?

[2020-12-28 09:54] amoskong commented on #3066
Currently the logcollecter try to fetch log by journalctl cmd

It's not problem of writing, but the log source.

I have sent a fix:

[2020-12-28 14:58] fruch opened #3069 "private_repo_test is failing to connect to SQL server"
It's failes with the following error:
[code]

Seem like since we move to debian based docker image this happend

this sounds like a fix:
https://stackoverflow.com/a/62158260

[2020-12-28 15:39] fgelcer opened #3071 "DATABASE_ERROR raised as ERROR instead of WARNING"
### Versions
* **SCT**: master
* **scylla**: enterprise-2020.1

### Logs
* test_id: a2a32438-0b52-41c2-9088-fd7fcfcba412
* job log: https://jenkins.scylladb.com/job/scylla-staging/job/fabio/job/rolling_upgrade_ubuntu_18_with_ldap_enabled/15/

### Description

on #1842 the severity of these INFO messages in the DB logs were reduced to be WARNING, but in this test they were reported as ERRORs.

the

[2020-12-28 19:46] fgelcer commented on #3071
seeing the same with another job `test_id=0efdb11d-3bef-46d1-a262-b5b70d333434`

[code]

we see before these errors that the cluster setup finished:
[code]

and the 1st nemesis happened only later:
[code]

[2020-12-29 01:33] asias opened #3073 "hydra investigate show-monitor runs sudo all the time"
git commit: 6e2223b273a852f98c260fd0b6a207506c91b8bd

Every time I run ``hydra investigate show-monitor $uuid`,  I was greeted by:

[code]

This is pretty scary and I need to think about the lecture and responsibility.

Looking at the code:

[code]

I do not think we need to run this with sudo every time.

We can try with the plain user and fallback to sudo if it fails.

[2020-12-29 02:54] asias opened #3074 "Please document how to kill containers started by show-monitor"
git commit : 6e2223b273a852f98c260fd0b6a207506c91b8bd

I found this in the code:
[code]

I tried:

[code]
None worked.

I tried to get some help:

[code]

[2020-12-29 06:28] fruch commented on #3073
Actually those where there to fix issue with people running Hydra as root.

I think we can ditch those command altogther

[2020-12-29 08:28] #3066 closed

[2020-12-29 12:16] fgelcer commented on #3071
same with large partition job (`test_id=5a35c95b-6b78-4341-93ed-141ddcc32d6a`):

[code]

[2020-12-29 15:32] #2858 closed

[2020-12-29 18:12] fruch commented on #3071
Fabio the PR you are referring is from almost a year ago, please take a look at current implementation in master to see if this string is mentioned in the code

[2020-12-29 22:27] roydahan commented on #3071
@fgelcer please send a PR  to ignore reduce this error message by default.

[2020-12-30 08:43] fruch commented on #3071
#3083 and #3084 should fix this

[2020-12-30 08:43] #3071 closed

[2020-12-31 10:38] fruch commented on #3074
@aleksbykov can you clarify the usage of this `--kill` flag  ?

[2020-12-31 10:46] amnonh opened #3089 "Need to add rsyslog support for Scylla Monitoring 3.6"
The monitoring stack now listen to incoming rsyslog traffic on port: 1514

We need to add an rsyslog file: a file to /etc/rsyslog.d/

something like:
$ cat  /etc/rsyslog.d/scylla.conf
if $programname == 'scylla' then @@$IP:1514;RSYSLOG_SyslogProtocol23Format

 Where $IP is the IP address of the monitoring serve

[2020-12-31 10:46] fruch commented on #3074
@asias

as long you don't have any other running dockers you want to keep, this command can clear them:
`docker rm -f --volumes $(docker ps -q)`

@amnonh
you think we can add an option to label the docker instances ? that would help us pick up the correct ones
https://docs.docker.com/engine/reference/commandline/run/#set-metadata-on-container--l---label---label-file

[2020-12-31 10:54] aleksbykov commented on #3074
@fruch this flag was added for testing purpose when pr is tested automatically and if it is set true, all dockers will be killed right after them was restored.
@asias
for that moment only next path could be used:
[code]

[2021-01-03 14:49] shoshan opened #3096 "grow_shrink_cluster adds two nodes fails on Other bootstrapping/leaving/moving nodes detected"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: 69124acceffcd624293a174832d0358a0741ae1c
* **scylla**: [branch or commit hash]

### Logs

* test_id: 22e38f42-c3e4-4136-833c-ceb0c5a69ec2
* job log:db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/22e38f42-c3e4-4136-

[2021-01-04 08:32] dkropachev opened #3097 "Rolling upgrade failed with 're.error: nothing to repeat at position 0'"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Logs
* test_id: b4d869ee-b2ee-49af-971a-acfd32971d4c
* Job url: https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/rolling-upgrade/job/rolling-upgrade-alternator-test/8/consoleFull
* job log: https://cloudius-jenkins-t

[2021-01-04 08:42] dkropachev opened #3098 "Rolling upgrade ami test failing with ''query 'SELECT * FROM null_support_test WHERE k = null' is not valid""
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Logs
* test_id: c4f8074f-b188-49d8-9d03-f8f79cb912a7
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/c4f8074f-b188-49d8-9d03-f8f79cb912a7/20210101_052704/db-cluster-c4f8074f.zip
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/c

[2021-01-04 13:43] dkropachev opened #3104 "Error taking monitor screenshot: Unable to run "ls /home/scylla-test/sct-monitoring | grep scylla-monitoring-src": failed connecting to "10.142.15.198""
https://jenkins.scylladb.com/view/scylla-operator/job/operator-master/job/longevity-scylla-operator-3h-gke-grow-shrink/13
Test-id: 087d06f6-dae3-4961-8f96-d2f5023fe10f

Failed to take screenshot:
[code]

[2021-01-05 14:23] Orenef11 opened #3113 "After changing the error message mechanism, a "spot terminationn" Error is not displayed in the list of errors or warnings"
### Test details
 * Test: upgrade_test.UpgradeTest.test_rolling_upgrade
 * Build number: 23
 * Backend: gce: us-east1
 * Test-id: e7bc8deb-1f08-44b7-a789-9c9a5c6c8eaf
 * Start time: 2021-01-05 08:04:37
 * End time: 2021-01-05 08:51:16
 * Started by user: timer
 * Scylla version: 4.2.2-0.20201213.696ef24226 (-)
 * Instance type: i3.2xlarge
 * Number of scylladb nodes: 4

### Email message
#### CRIT

[2021-01-05 14:24] Orenef11 commented on #3113
FTI @roydahan @fruch

[2021-01-06 11:08] eliransin opened #3114 "Upgrade tests doesn't test encryption at rest"
Scylla upgrade test doesn't contain encryption at rest tables.

[2021-01-06 15:26] yarongilor commented on #2743
error seems to be reproduced on cloud longevity -
[code]
[code]

[2021-01-08 18:02] dkropachev opened #3119 "ServerSslHotReloadingNemesis triggers (error GnuTLS:-34, Base64 decoding error.)"
https://trello.com/c/v5T6rj46/2788-serversslhotreloadingnemesis-investigate-why-it-can-trigger-scylla-error

Test-id: 64d3944c-e175-497c-a40d-c41b5f3e9a8c

Errors:

[code]

While nemesis was executed on :

[code]

There are dtests for that:
https://github.com/scylladb/scylla-dtest/commit/0fb33c733e5486f4bfdb18f86379c6fd31a9ec58

[2021-01-10 06:53] fruch opened #3121 "1Tb use case can't finish the prepare stage"
See scylladb/scylla#7748,

# Summary
in 4.3 testing we starting seeing issue with getting the 1tb case finishing prepare stage
after multiple runs it was identified that SCT branch 4.2 is working and passing.

we should identify what are the change that are causing it

My guesses:
* Enabling shared awareness - if so, we'll open it on java-driver repo, and continue investigation of 7748 in that con

[2021-01-10 09:08] yarongilor commented on #2743
@dkropachev, @enaydanov , please see if you have any update on this. it is now reproduced everyday on cloud sanity longevity.

[2021-01-11 13:30] ShlomiBalalis commented on #3119
The error appeared in a 1TB run longevity of 4.3 (with ami-01ef5abee0187f85a - eu-west-1) during ServerSslHotReloadingNemesis:

[code]

[2021-01-11 13:58] ShlomiBalalis opened #3128 "Match manager tasks' timeout with the data size of the cluster"
At the moment, when a manager repair or backup nemesis runs on any sct longevity, the time before sct forcefully stop the task and declare a timeout and a nemesis failure is set in stone no matter the scenario. i.e. whether the nemesis runs on a 10gb cluster or a 1TB cluster it will wait the same amount of time.

We should make the timeout more flexible, and dependent on the size of the scenario

[2021-01-11 14:27] fruch commented on #3119
@fgelcer are you aware of this type of error ?

[2021-01-11 14:39] fgelcer commented on #3119
@fruch , there was an error I'm aware of, but in the end, @amoskong updated (or re-generated) the certificates after they expired, and then the tests passed.
https://github.com/scylladb/scylla-enterprise/issues/1586#issuecomment-755230279

[2021-01-11 14:41] fruch commented on #3119
@fgelcer can you raise it in scylla-core ? this sound like something new

[2021-01-11 16:00] fgelcer commented on #3119
@fruch / @ShlomiBalalis , in this case, it seems like there was a warning message (with this error) but afterwards it succeeded, and i'm not sure it made any issue to the cluster...
in case of @dkropachev 's report, i don't know.

looking at Shlomo's case, i would add a filter in SCT to raise a WARNING out of this error, and not an ERROR event.
WDYT?

[2021-01-11 16:00] fgelcer commented on #3119
BTW, reported https://github.com/scylladb/scylla/issues/7909

[2021-01-11 16:02] fgelcer commented on #3119
BTW, reported https://github.com/scylladb/scylla/issues/7909

[2021-01-12 07:10] Orenef11 commented on #2851
Happened for `rolling-upgrade` JOB:
https://jenkins.scylladb.com/view/scylla-4.3/job/scylla-4.3/job/rolling-upgrade/job/rolling-upgrade-debian10-test/25/console

[code]

[2021-01-12 08:19] amoskong commented on #3119
What I updated is the cert keys only for KMIP test, it's used for KMIP client inside scylla to connect out HyTrust KMIP server (in AWS us-east-1).

This issue is about the cert key that is only used for server internode encryption.
It seems the key files had been updated correctly.

[2021-01-12 09:46] fgelcer commented on #2851
@Orenef11 , if you had opened the `sct.log` from your job, you would see that the event is in there:
[code]

[2021-01-12 14:26] pveentjer opened #3133 "Option to generate HDR latency distribution files"
I would like the have the ability to generate and download the HDR latency distribution file. There is a special option on cassandra-stress:

```-log hdrfile=somefile.hdr```

This will generate the latency distribution file and it should be downloaded.

The reason this file is needed it that it is the only way to correctly determine the latency percentiles if there are multiple load generators. Cu

[2021-01-13 19:21] roydahan commented on #3119
@eliransin is this related to the issue we have in enterprise somehow?

[2021-01-13 20:09] roydahan commented on #3121
Did we do the opposite test to use the old loader and see that it works with it?
If not, let's do it.
It should be fairly east, just change the loader ami and run.
@ShlomiBalalis can you please do it?
(make sure that if it passes the prepare this way, kill the cluster immediately and no need to wait with it).

[2021-01-14 07:46] amoskong commented on #3119
The feature `Support SSL Certificate Hot Reloading` had been backported to enterprise (https://github.com/scylladb/scylla-enterprise/commit/f3bcd4d20599f5b777f4e063ea74637bf18a6236), but not exist in 2020.1
There is only an opensource issue: https://github.com/scylladb/scylla/issues/7909

[2021-01-14 08:25] fruch commented on #3119
@roydahan it's explained in https://github.com/scylladb/scylla/issues/7909#issuecomment-758062545

We probably need to ignore this error, at least until there would be a reasonable solution (maybe as avi suggesting there)

[2021-01-14 11:27] asias opened #3135 "Issue with perf-regression-latency-250gb-with-nemesis test"
I tried to run fabio's perf test and got some errors. I used the SCT stable branch below:

SCT commit: 8031577bedf8ea8ee051d84c09d7fdbfb0e62958 (perf-test-v10, origin/branch-perf-v10)

I added the following to test-cases/performance/perf-regression-latency-250gb-with-nemesis.yaml
[code]
Then, I ran the following command to start the tests inside a aws instance. I tried both centos and ubuntu as th

[2021-01-14 12:20] roydahan commented on #3119
ok, so let's add a filter for it in this nemesis.

[2021-01-14 12:57] fruch commented on #3135
@enaydanov @fgelcer, can you look into what's the issue here ?

[2021-01-14 15:52] roydahan commented on #3089
Opened a task in trello

[2021-01-14 15:52] #3089 closed

[2021-01-17 06:34] fruch commented on #3097
@Orenef11, can you take a quick look at that one ?

[2021-01-17 09:54] Orenef11 commented on #3097
There is a open bug for that:
https://github.com/scylladb/scylla/issues/7819

The upgrade is failed.

[2021-01-17 10:03] juliayakovlev opened #3140 "C-s failed because of see the terminated node and attempt to reconnect"
*Installation details*
Scylla version (or git commit hash): `4.4.dev-0.20210113.ed53b3347 with build-id 8862c2c3259052e58cc4369d34bce4787ae06841`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0f6a2c84c3cbfbf2b` (aws: eu-north-1)

Test: `longevity-100gb-4h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-100gb-4h.yaml] (ht

[2021-01-17 10:56] dkropachev commented on #3133
Hello Peter,

Here is branch that has this feature:
git@github.com:dkropachev/scylla-cluster-tests.git:cs_hdrfile

Way it works:
1. Make sure that cs_dump_hdr is set to true. Currently it is turned on for any run
2. Run the test
3. If it is local - go to the loader log folder and find there *.hdr files
4. It if is jenkins - get loader log zip file and find *.hdr files there

Unfortunately, by some

[2021-01-17 11:07] yarongilor opened #3141 "rolling upgrade failed on fill_db_data with: "Invalid null value for partition key part k""
Test details
Test: upgrade_test.UpgradeTest.test_rolling_upgrade
Build number: 135
Backend: gce: us-east1
Test-id: 615bb62f-621f-426b-bc5f-b373f2ea49c4
Start time: 2021-01-15 04:43:09
End time: 2021-01-15 05:07:00
Started by user: timer
Test result
FAILED
System under test
ScyllaDB version: 4.2.3-0.20210104.24346215c2 with build-id 0c8faf8bb8a3a0eda9337aad98ed3a6d814a4fa9 (-)
Target ScyllaDB repo:

[2021-01-17 11:37] juliayakovlev commented on #3141
All rolling upgrade tests failed with error: "Invalid null value for partition key part k", that should be fixed by https://github.com/scylladb/scylla/pull/7804

But the rolling upgrade test starts from the cluster with 4.2.3 Scylla version. Issue #7804 is not backported to 4.2.

Maybe we need to comment this query and doesn't run it, meanwhile at least

[2021-01-17 12:33] yarongilor opened #3142 "Configuring "store_results_in_elasticsearch: false" causes test to fail with: "without _stats data we can't publish nemesis ES""
see, for example in scylla-master/longevity/longevity-alternator-3h-test#192: 2021-01-16 01:04:47:

[code]

[code]

[2021-01-17 12:39] fruch opened #3143 "docker artifacts test: install sshd on it's own or use `docker exec`"
Since the `sshd` is going to be removed out of the scylla docker image,
we should adapt the test code to manage without it.

with one of two options:
1) use `docker exec` instead ssh
2) install sshd on our own into the image we are using for the test (which we have anyhow)

@dkropachev @enaydanov  I think that in k8s, we are not using ssh either, correct me if i'm wrong.

[2021-01-17 14:06] fgelcer commented on #3135
@fruch , Asias said you were able to reproduce this issue on SCT master... do you have an issue number, or more details about it?

[2021-01-17 14:31] #3142 closed

[2021-01-18 04:24] dkropachev commented on #3119
https://github.com/scylladb/scylla-cluster-tests/pull/3146

[2021-01-18 07:15] juliayakovlev opened #3147 "After the hostname change script has been applied on the loader, rsyslog.service failed after restart."
*Installation details*
Scylla version (or git commit hash): ``
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0f6a2c84c3cbfbf2b` (aws: eu-north-1)

Test: `longevity-cdc-100gb-4h-test`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- [longevity-cdc-100gb-4h.yaml] (https://github.com/scylladb/scylla-cluster-tests/blob/ca8a02961c8a045df4e2ea4

[2021-01-18 07:33] fruch commented on #3147
the hostname change is a problematic part, I think we should reconsider if we still want to do that.

[2021-01-18 08:26] pveentjer commented on #3133
Are you planning to make an PR so it ends up in master?

[2021-01-18 08:30] dkropachev commented on #3133
Yes, but we need to get hdr data produces and remove cs_dump_hdr: true from defaults and set it for runs you are interested in.

[2021-01-18 12:06] roydahan commented on #3141
I commented on the mail from last week what to do.
@juliayakovlev please send a PR to disable this query and open a task to remind us to renable it.

[2021-01-18 12:56] juliayakovlev commented on #3141
Yes, I did it yesterday.
PR is merged: https://github.com/scylladb/scylla-cluster-tests/pull/3145
Task: https://trello.com/c/n5KsiKSA/2916-rolling-upgrade-test-run-query-with-filter-by-null-on-45-version

[2021-01-18 19:24] #3119 closed

[2021-01-18 21:00] roydahan commented on #3119
Already in 4.4

On Mon, Jan 18, 2021 at 9:30 PM Israel Fruchter <notifications@github.com>
wrote:

[2021-01-19 09:34] hagitsegev opened #3154 "First run new pipelines when creating a new release"
When you create new pipelines for a new release:
There is a need to first run each pipeline, so it will read the properties from code.
After creating the new pipelines, when you try to run them, you only have "build now" and not "build with parameters".
This run will fail, as you can't give the relevant parameters.

Another option is to copy the pipelines from older branch, so you have the paramet

[2021-01-19 10:12] hagitsegev commented on #3154
Nice idea.

[2021-01-19 12:32] fruch commented on #3154
sound like a bit like `dry-run` in scylla-pkg, which I think we don't have in SCT pipelines

[2021-01-19 12:33] yarongilor opened #3158 "centos-7 rolling upgrade fails with: "Unable to curl repository file https://download.docker.com/linux/centos/docker-ce.repo""
ERROR:
[code]

Test details
Test: upgrade_test.UpgradeTest.test_rolling_upgrade
Build number: 138
Backend: gce: us-east1
Test-id: e8b8b2e4-339b-46d9-a6b4-2c10504ed312
Start time: 2021-01-19 08:33:03
End time: 2021-01-19 09:09:18
Started by user: yarongilor
Test result
FAILED
System under test
ScyllaDB version: 4.3.0-0.20210110.000585522 with build-id 7fab6c35a5d403f3416292b37c9a9aa94fe4db1f (-)
Ta

[2021-01-19 12:38] fruch commented on #3158
@yarongilor how many time this happens ? seem like a temporary network issue, case that URL is available (at least from my laptop)

[2021-01-19 12:49] #3158 closed

[2021-01-19 12:50] roydahan commented on #3158
This repository doesn't accept issues like this.
If you know what is the issue, send PR.
If not, drill down into it and specify which part of SCT is broken.

[2021-01-19 14:24] fgelcer commented on #3135
with the help of @enaydanov we were able to find the issue, and right now @asias is running a test, hence closing this issue

[2021-01-19 14:24] #3135 closed

[2021-01-19 14:58] hagitsegev commented on #3154
This is not exactly like our dry-run.
This one just say: "OK, didn't get parameters, so I quit, I guess someone ran me to re-read parameters". This will give an "OK" status on the first run.
While our dry-run do some process verification. It will give "error" status on the first run.
I think I'll add this ability too.

Adding some dry-run parameter will be useful for me too, so when I debug - I'll

[2021-01-19 20:14] #2748 closed

[2021-01-20 14:38] yarongilor opened #3164 "Jespen run cmd failed with Exit code: 255"
[code]
Test details
Test: jepsen_test.JepsenTest.test_jepsen
Build number: 1
Backend: gce: us-east1
Test-id: 8df64503-2891-42cf-a544-8bfbf70d6dea
Start time: 2021-01-20 12:25:01
End time: 2021-01-20 12:39:48
Started by user: yarongilor
Private repo: http://downloads.scylladb.com.s3.amazonaws.com/deb/unstable/unified/master/2020-12-08T19:40:17Z/scylladb-master/scylla.list
Test result
FAILED
Jepsen

[2021-01-21 07:11] enaydanov commented on #3164
Looks like something wrong with my patch to scylladb/jepsen:

[code]

Need to improve my Clojure.

[2021-01-21 07:44] enaydanov commented on #3164
Due to https://stackoverflow.com/a/55737594 need to replace `when` with `cond->`

[2021-01-21 21:00] #3164 closed

[2021-01-24 10:50] #2759 closed

[2021-01-26 10:07] aleksbykov opened #3173 "If nodetool removenode command failed, the nemesis TerminateAndREmoveNode leave in cluster DN node"
### Versions
* **SCT**: master/branch-4.4
* **scylla**: branch-4.4

### Logs
* test_id: a92a84b6-e2e9-4d07-8aa6-a85bf96363f8
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/a92a84b6-e2e9-4d07-8aa6-a85bf96363f8/20210125_232251/sct-runner-a92a84b6.zip

### Description

During the mentioned test-id: a92a84b6-e2e9-4d07-8aa6-a85bf96363f8 job with longevity-cdc-4h

nemesis TerminateAndREmoveNo

[2021-01-26 11:58] ShlomiBalalis opened #3174 "manager ubuntu1604-sanity-test job constantly fails due latest pip not supporting python3.5 anymore."
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master AND manager-2.2
* **scylla**: irrelevant

### Logs
* test_id: 1639a18b-0eb2-426f-910e-5b5010e40829
* job log: https://jenkins.scylladb.com/view/scylla-manager/job/manager-master/job/ubuntu1604-sanity-test/87
https://jenk

[2021-01-26 12:04] fruch commented on #3174
@ShlomiBalalis, we should pin the pip to specific working version, and also make sure that in this case we used directly python3.6. (and not `pyhon3` which is going to the distro version, which is python3.5 in this case)

[2021-01-26 19:00] roydahan commented on #3173
The cluster health validator should have caught it when the nemesis completed (or the new one started) and raise a critical event that would have stop the test.
If that's not what happened, the issue is with cluster health validator and we need more info.
If it's what happen, then excellent, this is what we expect.

[2021-01-27 11:50] amoskong commented on #2850
scylla-bench had fixed the problem by adding a '-tls' option, but we are still using very old scylla-bench in loader AMI.

We need to update scylla-bench in the loader AMI, and append '-tls' option in scylla bench cmdline.

[2021-01-27 16:44] #3174 closed

[2021-01-31 09:15] yarongilor opened #3185 "artifacts-docker-test clean-resources fails with: "AMI for scylla version latest wasn't found""
Test details
Test: artifacts_test.ArtifactsTest.test_scylla_service
Build number: 7
Backend: docker
Test-id: b8fad7d2-eae1-4236-9800-c4777ca460d8
Start time: 2021-01-29 18:52:07
End time: 2021-01-29 18:58:34
Started by user: timer

System under test
ScyllaDB version:
Actual docker image used: scylladb/scylla-nightly:4.4.rc0-0.20210128.f470c5d4d
Instance type: N/A
Scylla packages installed:
scylla-

[2021-01-31 12:21] yarongilor opened #3187 "Streams: YCSB verification failed to run"
only 1 out of 2 read verification YCSB ran.
only 3 out of 4 total YCSB ran and completed.
[code]

*Installation details*
Scylla version (or git commit hash): `4.5.dev-0.20210124.020da49c89b with build-id 6087ff4830a3bd8ea78dec39851e3bdac0251e7f`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-09dad780a5cfaa757` (aws: eu-west-1)

Test: `longevity-alternator-streams-with-nem

[2021-01-31 12:30] yarongilor opened #3188 "KCL log is not collected by SCT log collector"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [branch or hash tag you are working on]
* **scylla**: [branch or commit hash]

### Logs
* test_id: [look for 'the Test ID' at the end of the log]
* job log: [e.x. https://cloudius-jenkins-test.s3.amazonaws.com/5a2c3b72-40f8-499

[2021-01-31 13:10] hagitsegev opened #3189 "Enterprise: Unified-deb artifact tests fail"
On enterprise:
Unified-deb artifact tests (16.04, 18.04, deb9, deb10):
https://jenkins.scylladb.com/view/nexts/job/scylla-enterprise/job/artifacts/job/artifacts-debian10-test/82/parameters/ scylla_repo is http://downloads.scylladb.com/unstable/scylla-enterprise/enterprise/deb/unified/2021-01-27T17:19:16Z/scylladb-enterprise/scylla.list which is OK.
In [log](https://jenkins.scylladb.com/view/nexts/

[2021-01-31 16:01] yarongilor opened #3190 "Streams: YCSB failure is not reported and test marked successful"
one YCSB stress did not run successfully, but was not reported. there were no events for its failure and the test run was marked as success.
the test yaml has:
[code]
$ grep -v health sct.log| grep 'YcsbStressEvent Severity\|exiting on timeout'
< t:2021-01-24 12:00:22,601 f:file_logger.py  l:78   c:sdcm.sct_events.file_logger p:INFO  > 2021-01-24 12:00:22.599: (YcsbStressEvent Severity.NORMAL): ty

[2021-01-31 16:20] yarongilor opened #3191 "YCSB verification error is not recognized, not triggering an SCT event"
YCSB read verification run resulted with verification errors like:
[code]
but this was not addressed by SCT and test passed successful without any reporting of that.

*Installation details*
Scylla version (or git commit hash): `4.5.dev-0.20210124.020da49c89b with build-id 6087ff4830a3bd8ea78dec39851e3bdac0251e7f`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-09dad780a5cf

[2021-01-31 19:18] hagitsegev opened #3192 "docker artifact test fail to clean resources (master, enterprise, 4.4)"
This happened on last 3 runs of
https://jenkins.scylladb.com/view/nexts/job/scylla-4.4/job/artifacts/job/artifacts-docker-test/
Last run on https://jenkins.scylladb.com/view/nexts/job/scylla-enterprise/job/artifacts/job/artifacts-docker-test/32/console and
https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/artifacts/job/artifacts-docker-test/230/

19:46:34  Traceback (most recent call l

[2021-02-01 12:02] fruch commented on #3185
seem like it's might be related to this change coming from master:
https://github.com/scylladb/scylla-cluster-tests/commit/7df555d336599fe4b1b837fc6b2a47d757138ed6
@amoskong can you elaborate on why this was changed ?

[2021-02-01 12:12] roydahan commented on #3192
Dup of #3185

[2021-02-01 12:12] #3192 closed

[2021-02-01 12:28] roydahan commented on #3185
@fruch, I don't understand how is this commit related?

[2021-02-01 12:36] fruch commented on #3185
it change it from a version we could find an AMI for, (even that we don't need to be looking for AMI at that point, but we do regardless), to a `scylla_version` we can't find an AMI for.

that commit is the root cause that surfaced up this issue, not necessary reverting it is the fix.
it's not clear to me why that change was happening, for what reason.

[2021-02-01 12:56] roydahan commented on #3185
ok, but why do we need AMI for docker test?

[2021-02-01 16:56] amoskong commented on #3185
The real test passed, the problem occurred in cleaning resources.
We need to assign backend when we clean the resources.

[2021-02-02 07:29] #3185 closed

[2021-02-02 09:34] aleksbykov commented on #3173
@roydahan @bentsi @fruch @enaydanov
Need your help in resolving the issue.
Disrupt method [disrupt_remove_node_then_add_node](https://github.com/scylladb/scylla-cluster-tests/blob/26d4bdfd231554e1fdd001e2c789cf8b8629ac82/sdcm/nemesis.py#L2142) has next logic:
1. Stop the scylla on target node https://github.com/scylladb/scylla-cluster-tests/blob/26d4bdfd231554e1fdd001e2c789cf8b8629ac82/sdcm/nemesi

[2021-02-02 10:49] amoskong commented on #3185
https://jenkins.scylladb.com/job/scylla-4.4/job/artifacts/job/artifacts-docker-test/10/console
https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-docker-test/231/

artifacts-docker tests of master and 4.4 had been PASSed

[2021-02-02 11:55] hagitsegev commented on #3185
https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/artifacts/job/artifacts-docker-test/231 is OK.

[2021-02-02 15:58] eliransin commented on #3114
@roydahan / @fruch does anyone looking into it?

[2021-02-02 16:08] eliransin opened #3198 "Rolling Upgrade tests should be deterministic about on which version they run queries on (old or new)"
In order to avoid issues like scylladb/scylla-enterprise#1612 going under the radar the rolling upgrade test should be deterministic
about which versions they run the queries and different verification functions on. In the aforementioned issue, the test is flaky
since there is a difference in behavior between when the alter query runs on an upgraded coordinator node or on a plain node.
The test is

[2021-02-02 19:02] roydahan commented on #3114
We have a task for it, but no one is working on it at the moment.

On Tue, Feb 2, 2021 at 6:10 PM Eliran Sinvani <notifications@github.com>
wrote:

[2021-02-02 19:04] roydahan commented on #3198
AFAIK there is no way to control which coordinator will serve the client.
Therefore, it's impossible for us to do it.

On Tue, Feb 2, 2021 at 6:09 PM Eliran Sinvani <notifications@github.com>
wrote:

[2021-02-02 20:01] roydahan commented on #3173
@aleksbykov thanks for the very detailed summary.
I support option 2 because it sounds most natively fit to our current design.
It basically restore the configuration to the previous state.

Another option that could be even simpler, is to remove the node from up_and_normal_list ONLY after the nodetool remove finished.
If needed, we can run the the repair on the [list] - (dead_node).

Regarding th

[2021-02-03 07:37] eliransin commented on #3198
@roydahan - I don't understand this pushback.
https://docs.datastax.com/en/developer/python-driver/3.24/api/cassandra/cluster/#cassandra.cluster.Session.execute
Notice the `host` parameter.
According to the documentation:
`execute (statement[, parameters][, timeout][, trace][, custom_payload][, paging_state][, host][, execute_as])`

[code]

[2021-02-03 07:46] eliransin commented on #3198
https://docs.datastax.com/en/developer/python-driver/3.24/api/cassandra/policies/#cassandra.policies.LoadBalancingPolicy
You can also rig the LoadBalancing policy and have 3 different sessions:
1. session with `OnlyOldLoadBalancingPolicy`
2. session with `OnlyNewLoadBalancingPolicy`
3. session with the normal default or whatever you use today:  `LoadBalancingPolicy`
You will of course need to impl

[2021-02-03 11:43] juliayakovlev commented on #3173
Agree with this option. Remove from up_and_normal_list and add to dead_node list only if `nodetool removenode` succeeded. Not sure if failure of `repair` should raise critical event.

[2021-02-03 12:50] roydahan commented on #3198
The tests should reflect real world scenarios.
Moreover:

AFAIK, host parameter doesn't change anything, since we have HWLB and the request can reach any coordinator.
I don't know about LoadBalancingPolicy but I'm pretty positive it doesn't work as you expect it to work.

[2021-02-03 12:54] eliransin commented on #3198
HWLB? What do you mean by that? Hardware LB? You know it doesn't make any sense right? If this was the case so token awareness was not working at all (This is a product of the TokenAwareLoadBalancingPolicy).
And another question on that - how does your tests query local tables for example?

[2021-02-03 12:55] eliransin commented on #3198
Has anyone tried it? Don't you think that the test flakiness worth fixing?

[2021-02-03 14:44] roydahan commented on #3198
Heat Weighted Load Balancing.
This is how scylla works and this is how we test it for a long time.

I doubt we care and if we really need, we have the tricks to do it (like stopping all other nodes).

[2021-02-03 14:45] roydahan commented on #3198
It's not the first time we face this issue, in dtest we do it all the time.

[2021-02-10 12:48] ShlomiBalalis opened #3218 "Pull request check fails: unauthorized: please use personal access token to login"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master

Failed check: https://jenkins.scylladb.com/blue/organizations/jenkins/sct-github-PRs-scan%2Fscylla-cluster-tests/detail/PR-3212/5/pipeline/
https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-cluster-tests/j

[2021-02-10 22:52] amoskong opened #3219 "cql_connection for fullscan lacks of credentials"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [branch or hash tag you are working on] branch-4.4 & master
* **scylla**: [branch or commit hash]

### Logs

- https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-1tb-7days-test/2/
   - test

[2021-02-10 23:04] amoskong opened #3220 "current root disk (35G) isn't enough in extreme situations (dense errors)"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [branch or hash tag you are working on] branch-4.4 & master
* **scylla**: [branch or commit hash]

### Logs
- https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-1tb-7days-test/2/
   - test i

[2021-02-10 23:08] amoskong commented on #3220
The tmp solution:

- stop the sct runner
- add a second disk
- restart the sct runner
- format and mount the second disk
- create soft link for sct-result log directory for using the second disk
- rerun hydra command to collect logs

[2021-02-10 23:08] amoskong commented on #3220
There is a fix: https://github.com/scylladb/scylla-cluster-tests/pull/3193

[2021-02-10 23:16] amoskong opened #3221 "failed to add new node in the decommission nemesis: NodeSetupFailed: We should have at least one selected seed by now"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [branch or hash tag you are working on] branch-4.4
* **scylla**: [branch or commit hash]

### Logs

https://jenkins.scylladb.com/view/scylla-4.4/job/scylla-4.4/job/longevity/job/longevity-1tb-7days-test/3/
[scylla-4.4-1tb-job3-

[2021-02-11 01:04] amoskong commented on #3221
I'm running a short longevity only with decommission & seed decommission & stop_restart nemesises. Let's see if we can find the problem.

- https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/byo-longevity-test/76/console

[2021-02-11 01:41] amoskong commented on #3221
Test the PR by : https://jenkins.scylladb.com/job/scylla-staging/job/amos/job/byo-longevity-test/77

[2021-02-11 08:59] fruch opened #3226 "[unittests] SubtestAssertAndTeardownFailsTest faling once in a while"
I've noticed `SubtestAssertAndTeardownFailsTest`, I suspect it's some kind of timing issue.

https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-cluster-tests/job/PR-3217/3
[code]

[2021-02-11 09:00] fruch commented on #3226
@enaydanov did you seen it before ?

[2021-02-11 10:08] fruch commented on #3218
happened again
https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-cluster-tests/job/PR-3225/1/

[2021-02-12 00:36] #3219 closed

[2021-02-12 00:42] #3221 closed

[2021-02-14 07:56] eliransin opened #3232 "artifact tests: keep_on_failure logic is not respected in artifact tests (and possibly other tests)"
When running in Jenkins, the clean resources stage of the artifact tests does not respect the "keep_on_failure" setting for db
instances.
Link to failing job:
https://jenkins.scylladb.com/job/scylla-enterprise/job/artifacts/job/artifacts-centos7-test/79/

[2021-02-14 11:43] roydahan commented on #3232
@enaydanov can you please check?

[2021-02-16 09:28] fruch commented on #3218
And again:
https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-cluster-tests/job/PR-3217/8/console

[2021-02-16 20:54] fruch commented on #3218
It was a specific builder having the issue, when logging into it, seem like someone did `docker login`  hence the failure
[code]

FYI @yaronkaikov, please don't login to dockerhub on the SCT builders (on jenkins user), since break them for us.

[2021-02-16 20:54] #3218 closed

[2021-02-22 18:09] yarongilor opened #3257 "loader ami is overridden by default ami when running on a different region"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: 4.4

*Installation details*
Scylla version (or git commit hash): `4.4.rc1-0.20210210.5b6c28428 with build-id 6b0809e6195738bc6d0948a86885be2cadd9eac1`
Cluster size: 1 nodes (i3.8xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-01c

[2021-02-22 18:25] yarongilor commented on #3257
Cc @roydahan

[2021-02-22 19:50] fruch commented on #3257
@yarongilor what exactly is the bug here... it run the loader according to the region. What exactly do you expect it todo ?

[2021-02-22 22:43] roydahan commented on #3257
AFAIU, we have Ami for loader inside the test yaml to be used which is not
the Ami stated in the defaults AWS config file.
But the loader Ami that is being used is the one from the default and not
the one from the yaml.

What I’m not sure about Yaron’s description is if it happens only when
changing a region or always.

Another possibility is that Yaron chose a region that wasn’t in the test
yaml

[2021-02-23 10:05] yarongilor commented on #3257
i expect that:
 if any loader AMI is specified ==> test must NOT take any default for any region.
it totally doesn't make sense to do so.
you can decide how to fail the test in a case where the are missing AMIs for selected regions but it surely doesn't make sense to override it.

[2021-02-23 10:08] yarongilor commented on #3257
you will probably want to use this logic for scalability, performance and driver-related-features tests.

of course an alternative solution would be copying AMI automatically to a needed region.

[2021-02-23 11:13] roydahan commented on #3257
Yaron, If the region isn't in the yaml, the region was not override.
It was taken from the config where it's the only place mentioned.

It'll not be simple to change and anyway the direction is not using AMI's.

So, as a temp fix, please check all places we specify a loader AMI that isn't the default and make sure it has the correct version for all regions.

[2021-02-27 17:13] enaydanov commented on #3232
There are no critical events during this run but only critical events matter for keep-on-failure.

[2021-02-28 10:11] fgelcer opened #3273 "new nemesis `disrupt_disable_enable_ldap_authorization` is not working on branch-2020.1"
### Versions
* **SCT**: branch-2020.1

### Logs
* test_id: 4fc73638-f717-451e-9005-e5c1cb236d66
* job log: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/fabio/job/ldap_nemesis/job/200gb-with-c-s-ldap-username/

### Description

master has `node.remote_scylla_yaml` but branch-2020.1 doesn't

need to adapt `remove_ldap_configuration_from_node` and `add_ldap_configuration_to_node`

[2021-03-01 10:04] fruch opened #3276 "Test wasn't stopping cleanly on critical event"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?

### Versions
* **SCT**: master
* **scylla**: master

### Logs
* test_id: [look for 'the Test ID' at the end of the log]
* job log:
https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-50gb-3days/63/

### Summary

Test failed catching the critical error, but kept running for 3 more days:
[code]

#

[2021-03-01 10:29] eliransin opened #3277 "Wrong units in materialized views flow control delay graph in the nemesis dashboard"
The flow control delay units are in nano seconds, however, in the nemesis dashboard they appear as "ops"
which is misleading and appears as huge delays.

[2021-03-01 10:35] fruch commented on #3276
Also happened on:
## Logs
* **db-cluster** - https://cloudius-jenkins-test.s3.amazonaws.com/ad480eeb-4248-4276-b93a-c88ef24cf6f9/20210228_051940/db-cluster-ad480eeb.zip
* **loader-set** - https://cloudius-jenkins-test.s3.amazonaws.com/ad480eeb-4248-4276-b93a-c88ef24cf6f9/20210228_051940/loader-set-ad480eeb.zip
* **monitor-set** - https://cloudius-jenkins-test.s3.amazonaws.com/ad480eeb-4248-4276-b9

[2021-03-01 10:37] fruch commented on #3276
@enaydanov can you help me figure this one out ? couldn't easily find the reason why test were stopped after the critical events in those cases

[2021-03-02 04:08] enaydanov commented on #3276
@fruch it got many critical events in a short time. Do you think it can be a cause of this problem? Many SIGUSR2 signals? I think we need a flag that test is already stopping and don't try to send SIGUSR2 again.

[2021-03-02 07:20] fruch commented on #3276
Could be, I thought it had such a prevention (at least I think it had some safety before), but I guess we could add more.

[2021-03-02 09:31] #3277 closed

[2021-03-02 22:36] fruch opened #3283 "gemini-1tb-10h fails to report email on master"
seem like this job is failing like this for months now since this change:
https://github.com/scylladb/scylla-cluster-tests/commit/038b183ccc313891f096929b55d15a5592f3f9dc

[code]

[2021-03-10 12:54] roydahan commented on #2850
@bentsi can you please assign someone to take care of it?
We need to run scylla-bench with -tls option wherever we have encryption enabled.
(plus we need to update the loader to use latest scylla-bench).

[2021-03-15 07:52] yarongilor opened #3315 "NonDisruptiveMonkey mgmt_repair_cli fails during DisruptiveMonkey repair_streaming_err"
scenario:
1. DisruptiveMonkey: >>>>>>>>>>>>>Started random_disrupt_method repair_streaming_err
2. NonDisruptiveMonkey: >>>>>>>>>>>>>Started random_disrupt_method mgmt_repair_cli
==> result:
mgmt_repair_cli fails with:
[code]

suggested fix: a full manager repair on all nodes should never run simultaneously with a disruptive nemesis that may take down a db node. it can, instead, run on a single nod

[2021-03-15 08:10] yarongilor opened #3316 "mgmt_repair_cli is run as non-disruptive and fails during disruptive repair_streaming_err"
scenario:

1. < t:2021-03-07 21:43:36,686 f:nemesis.py      l:1008 c:sdcm.nemesis         p:INFO  > sdcm.nemesis.DisruptiveMonkey: >>>>>>>>>>>>>Started random_disrupt_method repair_streaming_err
2. < t:2021-03-07 22:42:12,472 f:nemesis.py      l:1008 c:sdcm.nemesis         p:INFO  > sdcm.nemesis.NonDisruptiveMonkey: >>>>>>>>>>>>>Started random_disrupt_method abort_repair
==> result:
abort_repair f

[2021-03-15 10:13] fruch commented on #3315
Never what ? Can you explain what's the issue again ? You claim we can't do any other operations during repairs ?

[2021-03-15 16:16] yarongilor commented on #3315
(the next line was erased mistakenly, fixed that)
suggested fix: a full manager repair on all nodes should never run simultaneously with a disruptive nemesis that may take down a db node. it can, instead, run on a single node (the nemesis 'target node') only.

right, we cannot do any disruptive events during a general cluster repair.

[2021-03-16 12:56] yarongilor opened #3320 "disrupt_corrupt_then_scrub nodetool scrub fails with: sun.rmi.transport.Transport.serviceCall(Transport.java:196)"
disrupt_corrupt_then_scrub nodetool scrub failed in 4.4 2TB multiple nemesis with
error:
[code]

*Installation details*
Scylla version (or git commit hash): `4.4.rc3-0.20210304.c2d924757 with build-id 1d0929cbdc3fd39b79157e974cd8d08cd2610afb`
Cluster size: 5 nodes (i3en.3xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-07a91c0d7ed3e47be` (aws: eu-north-1)

Test: `longevity-2tb-4days-1Dis-2NonDis-Neme

[2021-03-17 00:36] #3320 closed

[2021-03-17 00:37] #3316 closed

[2021-03-17 00:37] #3315 closed

[2021-03-18 08:17] #3273 closed

[2021-03-18 08:17] fgelcer commented on #3273
fixed.

[2021-03-18 12:00] aleksbykov commented on #3283
PR: https://github.com/scylladb/scylla-cluster-tests/pull/3208 should fix the issue

[2021-03-18 15:36] avelanarius opened #3327 "An error occurred (InvalidAllocationID.NotFound) when calling the AssociateAddress operation"
### Prerequisites

* *Are you rebased to master?* **No, I was told that branch-4.4 is most stable.**
* *Is it reproducible?* **No, the next time it worked correctly.**
* *Did you perform a cursory search if this issue isn't opened?* **Yes.**

### Versions
* **SCT**: branch-4.4
* **scylla**: branch-4.4:latest (but the test did not go that far)

### Logs
* test_id: a618e574-fdf3-40ee-b4d8-79880c9878

[2021-03-21 05:25] juliayakovlev commented on #3069
@bentsi FYI

@fruch We have very old MySQL version and this issue connected to old version. We tried this code against new MYSQL version and it works. So we need to upgrade

[2021-03-25 14:52] yarongilor opened #3346 "LWT stress timeout error during memory-stress nemesis"
During memory-stress nemesis, the DB node gets a timeout of the alternator stress that uses LWT.
we probably should consider filtering such an event during this nemesis, since it may be expected.

error event received:
[code]
nemesis log:
[code]
*Installation details*
Scylla version (or git commit hash): `4.4.0-0.20210324.dbb550e1a with build-id c41c64de4b206cac92615cfc0b3f21d915150562`
Cluster si

[2021-03-29 12:26] roydahan commented on #3346
We should check with dev if we can completely ignore the error: "Operation timed out for system.paxos - received only 0 responses from 1 CL=ONE".

It can happen in any of the disruptive nemesis.

[2021-03-31 02:36] amoskong opened #3355 "support to test with Ubuntu (20.04) based scylla AMI"
### Description

##### Problem

Currently the default scylla_linux_distro is 'centos', when ubuntu based AMI is passed, scylla-manager will fail to install.
filed job: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-100gb-4h-test/326/
test id: fefd60cd-4567-4287-b3e2-6a8a2e2a6dd6

##### Workaround
cluster /node setup will identify the distro by itself, if `use_mgmt` is s

[2021-03-31 08:00] hagitsegev opened #3356 "Tests queue - improve queue management to avoid timeouts"
### Description

When we run artifact tests during the "daily" or release processes we run a bunch of tests together.
We frequently face "timeouts" on the "Run SCT stages" phase.
Improve this behavior, so queue time will not be count as run time.
As a workaround, I set the builds to be called one after the other on https://github.com/scylladb/scylla-pkg/pull/2002.
This is not so good, as the total

[2021-03-31 08:19] hagitsegev opened #3357 "Artifact tests: Stop using a machine for waiting"
### Logs
See any log of SCT artifact test such as https://jenkins.scylladb.com/view/nexts/job/scylla-4.4/job/artifacts/job/artifacts-centos8-test/45/console

### Description

When an artifact test is running, it starts on gce2-qavpc
It performs checkout, Sets a timeout of 1 hour, and than:
Starts on gce2-qavpc.
Now it sets another timeout for 30 minutes
Performs another checkout
Starts running tes

[2021-03-31 08:26] hagitsegev opened #3358 "Avoid warnings as environment is used to pass secrets clearly"
### Logs
Any SCT test log such as https://jenkins.scylladb.com/view/nexts/job/scylla-4.4/job/artifacts/job/artifacts-centos8-test/45/console

### Description

There is a warning:
[code]

This warning also appears on the main page of the job, such as
https://jenkins.scylladb.com/view/nexts/job/scylla-4.4/job/artifacts/job/artifacts-centos8-test/45/
[code]
There are a few ways to avoid this warning.

[2021-04-01 14:57] kbr- commented on #3327
Just hit the same issue:
https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/KamilBraun/job/cdc-replication-longevity/9/consoleText
[code]

the decommission disruption nemesis crashed and did not bootstrap a node to replace the decommissioned node, leaving the test with 2 nodes instead of 3.
[code]

[2021-04-04 11:27] ShlomiBalalis opened #3367 "Manager: wait_for_status function does not raise exception upon timeout"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master (but irrelevant)
* **scylla**: irrelevant

### Description

In dtest, the wait_for_status function raises  if the manager task in question doesn't reach one of the specified amount of time. For some reason, in SCT the fu

[2021-04-05 11:32] yarongilor opened #3370 "reconfigure_scylla_monitoring fails: bash: scylla_rsyslog_setup: command not found"
FAILED: enterprise-2021.1/SCT_Enterprise_Features/ICS/ics-longevity-200gb-48h-test#2
[code]

*Installation details*
Kernel version: `5.11.5-1.el7.elrepo.x86_64`
Scylla version (or git commit hash): `2021.1.rc1-0.20210310.8ba6c2fb5 with build-id a650d74f5d0e0ff7748024c6e9f8770ba13a65a0`
Cluster size: 4 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-046668b76a1d3d4cd` (aws: eu-west-1)

Tes

[2021-04-05 17:35] fruch commented on #3370
@yarongilor This script was part of 4.3, it should be available in 2021.1 it's a bug...

[2021-04-06 10:40] yarongilor commented on #3370
opened https://github.com/scylladb/scylla/issues/8412

[2021-04-06 10:40] #3370 closed

[2021-04-07 16:49] hagitsegev opened #3379 "Script to create jobs: Fix name of cdc job"
Little bug in script that creates jobs for a new release:
Creates job:
longevity-cdc-4h-test
While should be:
longevity-cdc-100gb-4h-test
(This is the name on other releases, including master).

Please fix, so no manual rename will be needed.

[2021-04-11 14:35] fgelcer opened #3388 "SMI core dump is raising CoredumpEvent with severity CRITICAL on most of perf jobs"
these jobs are running on branch-perf-v8.
like [this job](https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-aws-test-latency/100/) and [this job](https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-aws-test-throughput/146/)

we mostly need to find the commit that ignores this core and backport

[2021-04-12 09:18] ShlomiBalalis commented on #3356
I experience the same issue on the [artifacts-gce-image-test job of 2021.1](https://jenkins.scylladb.com/view/enterprise-2021.1/job/enterprise-2021.1/job/artifacts/job/artifacts-gce-image-test/19). Seemingly only when the job starts on [gce node 1](https://jenkins.scylladb.com/computer/gce-qavpc/)

[2021-04-12 13:00] yarongilor opened #3395 "artifacts-centos8-nonroot-test fails with - tee: /etc/scylla/scylla.yaml: No such file or directory"
Test details
Test: artifacts_test.ArtifactsTest.test_scylla_service
Build number: 123
Backend: gce: us-east1
Kernel version: 4.18.0-240.15.1.el8_3.x86_64
Test-id: a8244784-e4ee-4185-be03-6f89de0bb58c
Start time: 2021-04-12 12:51:53
End time: 2021-04-12 12:53:53
Started by user: yarongilor
Private repo: https://s3.amazonaws.com/downloads.scylladb.com/rpm/centos/scylla-3.3.repo
Test result
FAILED
Sy

[2021-04-12 15:45] yarongilor opened #3396 "artifacts-ubuntu2004 test fails with - sudo: yum: command not found"
error log:
[code]
Test details
Test: artifacts_test.ArtifactsTest.test_scylla_service
Build number: 127
Backend: gce: us-east1
Kernel version: 5.4.0-1040-gcp
Test-id: 2d927cea-398b-4009-973c-13a98c185506
Start time: 2021-04-12 15:34:43
End time: 2021-04-12 15:36:08
Started by user: yarongilor
Private repo: http://downloads.scylladb.com/unstable/scylla/master/deb/unified/2021-04-11T22:10:39Z/scylla

[2021-04-12 15:46] yarongilor commented on #3396
Cc @bentsi . perhaps related as well to latest changes?

[2021-04-12 15:59] yarongilor opened #3397 "config_client_encrypt fails with - mkdir: cannot create directory ‘/home/scyllaadm/.cassandra/’: Permission denied"
Setup for both 50GB and 200GB master longevities failed with below error.
error log:
[code]

[2021-04-12 16:44] yarongilor opened #3398 "longevity-large-partition-asymmetric-cluster fails: apt-get install -y scylla-manager-agent: Could not get lock /var/lib/dpkg/lock-frontend"
scylla-master/longevity/longevity-large-partition-asymmetric-cluster-3h failed installing the scylla manager agent.

error log:
[code]
Test details
Test: longevity_large_partition_test.LargePartitionLongevityTest.test_large_partition_longevity
Build number: 3
Backend: aws: eu-north-1
Kernel version: 5.4.0-1035-aws
Test-id: 4ea94ed9-708e-4317-8789-01306a70a611
Start time: 2021-04-12 06:44:42
End ti

[2021-04-12 19:53] roydahan commented on #3396
No, it's not related.
It's a bug that @amoskong introduced today.

@amoskong the concept of installing something not in the correct place is wrong.

[2021-04-13 02:53] amoskong opened #3400 "branch-2021.1: sdcm/tester.py NameError: name 'boto3' is not defined"
### Prerequisites

* [ ] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**:  branch-2021.1 (f54d17548c074e6fe555c6e6f7a3d7b4709f9d79)
* **scylla**:2021.1.rc1

### Logs
* test_id: 0b3534fe-b6d3-4166-9948-7a19ba7b093b
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/0b3534fe-b6d3-4166-9948-7a19b

[2021-04-13 02:54] amoskong commented on #3400
The problem was introduced in https://github.com/scylladb/scylla-cluster-tests/commit/db70d87ada34544005f3a5a502c5af0597bed4ae

[2021-04-13 13:31] fgelcer commented on #3400
problem fixed in my job, hence closing this issue.

[2021-04-13 13:31] #3400 closed

[2021-04-13 23:58] amoskong commented on #3396
Fixed by #3399

[2021-04-13 23:58] amoskong commented on #3395
Fixed by #3399

[2021-04-14 07:16] #3395 closed

[2021-04-14 07:16] #3396 closed

[2021-04-14 10:08] yarongilor opened #3410 "scylla-master-perf-regression-latency-250gb-with-nemesis: install scylla-manager-agent fails: E: Malformed line 1 in source list /etc/apt/sources.list.d/scylla-manager.list (type)"
build URL": https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-latency-250gb-with-nemesis/46/execution/node/71/log/

error:
[code]

[2021-04-19 12:07] juliayakovlev commented on #3410
Still fails https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-latency-250gb-with-nemesis/47/consoleFull

[2021-04-19 13:52] roydahan commented on #3410
@fgelcer will take care of it.
These jobs are running from branch-perf-v10.
The easy and fast solution will be to add the mgmt_agent_repo paramter to the job and trigger it with the correct agent version.

[2021-04-20 05:42] fgelcer commented on #3410
yes, i'm on it

[2021-04-20 08:29] fgelcer commented on #3410
@yarongilor @juliayakovlev @roydahan , here is the PR to fix it #3425

[2021-04-20 11:36] fgelcer commented on #3410
now, once the pipeline updates the Jenkins job, we will know if it is fixed (BTW, there is a running job, meaning that the failing poing is behind us)

[2021-04-21 10:42] fgelcer commented on #3410
#3425 fixed this issue (see official job on master)

[2021-04-21 10:42] #3410 closed

[2021-04-26 16:32] kbr- opened #3470 "Test repair-based node operations?"
I noticed that there are no test config files (.yaml) in SCT repo - master branch at least - that would enable repair-based node operations. I think this feature is quite important to be tested by SCT. Shouldn't we have at least one longevity running regularly with this option enabled? AFAIK we do plan to eventually turn it on by default, so it would be good to start testing it with "real" cluster

[2021-04-26 17:00] roydahan commented on #3470
We don't test thins out of a context of a release.
If/when there will be a release that enables this by default it will get tested.

[2021-04-26 17:00] #3470 closed

[2021-04-26 17:04] roydahan commented on #3173
@aleksbykov if we haven't done so yet, let's do option number one/two.
Simplest as possible, remove the assert and fail the nemesis and then the test will fail due to DN.

[2021-04-26 17:43] roydahan commented on #3147
Is this still relevant?
I don't think we bumped into it since...

[2021-05-04 08:41] dkropachev commented on #3097
Hello,

Issue fixed in here https://github.com/scylladb/scylla-cluster-tests/pull/3118

Thanks.

[2021-05-04 08:41] #3097 closed

[2021-05-05 09:16] ShlomiBalalis opened #3502 "oel81 node cannot be pinged (through curl) using public IP address, only private"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: master
Using artifacts-oel81-test

### Logs
* test_id: eecc26d4-c3ec-4031-b6ad-6bddd6a3dc74
* job log: https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-oel81-test/33/

### Descript

[2021-05-09 09:03] Orenef11 opened #3509 "[master] The manager installation failed because "scyllamgr_ssl_cert_gen: command not found""
test-id: `5363a1fc-1046-477e-8b04-0cd1b8edc609`

[code]

[JOB RUN](https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/longevity-200gb-48h/116/execution/node/117/log/)

[2021-05-09 09:43] Orenef11 opened #3510 "[2021.1.rc2] The command "cqlsh --no-color --request-timeout=120 --connect-timeout=60 --ssl -e "TRUNCATE ks_truncate_large_partition.test_table"" is failed"
[code]

test-id: `b2b540b6-2689-4f5c-a81f-43f248e49108`
nemesis: `TruncateMonkeyLargePartition`
monitor: http://34.241.224.63:3000/d/95EX8WjMz/longevity-lwt-24h-multidc-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1620323959186&to=1620324475709

[2021-05-09 09:45] Orenef11 commented on #3510
Also, at `2021-05-06 18:24:38.168` there is another issue:
[code]

[2021-05-09 09:45] roydahan commented on #3510
Known Scylla issue

[2021-05-09 09:45] #3510 closed

[2021-05-09 09:48] roydahan commented on #3510
Stress-ng is a different issue due to Ubuntu AMI.
Open a new one assign to Amos.

On Sun, May 9, 2021 at 12:46 Oren Efraimov ***@***.***> wrote:

[2021-05-09 10:17] fgelcer commented on #3509
relates to https://github.com/scylladb/scylla-manager/commit/29a519747f208f0ca8dafd4962688affaecfd63a

[2021-05-09 10:45] Orenef11 opened #3511 "[2021.1.rc2] TheCommand: 'sudo apt install -y stress-ng'"
At ` 2021-05-06 18:24:38.168`:
[code]
test-id: `b2b540b6-2689-4f5c-a81f-43f248e49108`
monitor: http://34.241.224.63:3000/d/95EX8WjMz/longevity-lwt-24h-multidc-test-scylla-per-server-metrics-nemesis-master?orgId=1&from=1620325258652&to=1620325748248

[2021-05-09 10:46] Orenef11 commented on #3511
FYI @roydahan

[2021-05-09 11:48] roydahan commented on #3509
https://github.com/scylladb/scylla-manager/issues/2617

[2021-05-10 03:44] amoskong commented on #3511
@Orenef11 does the issue occur all the time? Or you just touched once?

In my manual test, It can be successfully installed in Ubuntu AMI (ubuntu20.04).

[code]

[2021-05-10 04:14] amoskong commented on #3511
try to fix by https://github.com/scylladb/scylla-cluster-tests/pull/3513

[2021-05-10 04:49] amoskong commented on #3398
In 2021.1 job, I can still see this problem, it finally failed after 10 times retry.

/Cc @bentsi @roydahan @fgelcer

job: https://jenkins.scylladb.com/job/enterprise-2021.1/job/SCT_Enterprise_Features/job/EncryptionAtRest/job/EaR-longevity-local-200gb-6h-test/5/console
test_id: 802bfc65-20ef-48a7-b60e-d94704a72728

[code]

[2021-05-10 05:21] amoskong commented on #3511
There is no sct log of above test id:

[code]

[2021-05-10 07:21] fgelcer commented on #3398
@amoskong  if it was not a transient failure (while we research a better way to wait), you can in the meantime increase the retries, and the sleep time between retries..

[2021-05-10 08:12] Orenef11 commented on #3511
@amoskong
This is the first time I saw it so I opened a bug for it.
Yes, the logic of the SCT runner was not saved, there was a problem collecting the logs.

[2021-05-10 09:55] mmatczuk commented on #3509
You should not run the script, before the patch the script was invoked in post install action. Now it's not needed at all as the certificate is generated in memory on server start.

[2021-05-13 21:24] fgelcer commented on #3509
@mmatczuk , so i just need to drop the call to this script at all?

[2021-05-17 07:38] mmatczuk commented on #3509
Correct.

[2021-05-18 08:00] fgelcer commented on #3509
fix here --> https://github.com/scylladb/scylla-cluster-tests/pull/3536/commits/bcfaf2585d24752ad6499fb08a91b1cc5c744bab
@ShlomiBalalis , FYI

[2021-05-19 14:25] fgelcer opened #3546 "changes in the jenkins job parameter did not affect the test parameters"
while working on #3544 i tried to change in the [jenkins job](https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-latency-250gb-with-nemesis/66/) to re-run with the correct URL, but it failed with the "old" one, before the PR was merged.. it means that, the user input is not taking precedent over the hard coded configuration, and it must change, as the user shall enter

[2021-05-22 08:25] rohitjain25 commented on #2787
Even After Upgrading to latest version it is showing the same error !

[2021-05-23 09:30] roydahan opened #3566 "Why do we have "scylla_repo" of 3.3 in the artifacts yaml?"
For example:
https://github.com/scylladb/scylla-cluster-tests/blob/0c662416b395d941520aa411ce322bbde2ccf7ba/test-cases/artifacts/centos7.yaml#L16

[2021-05-23 12:32] yaronkaikov opened #3568 "GCE image: Use scylla-images projoect instead of skilled-adapter-452"
Since all gce images are being created on scylla-images project.
Let's use only one project for gce-images to avoid unneeded copy and permissions issues

[2021-05-23 12:32] yaronkaikov commented on #3568
/cc @bentsi @fruch @roydahan

[2021-05-24 02:01] amoskong commented on #3502
The problem doesn't exist with recent Oel76 and other distros, it might be caused by the firewall/selinux/etc in Oel8.
It should be a general network config issue, not just for scylla-manager.

[2021-05-24 02:35] amoskong commented on #3502
### Selinux is enabled

[code]

[code]

[code]

### No special difference between OEL76 and OEL81 artifact tests.
[code]

[2021-05-24 02:46] amoskong commented on #3502
#### SElinux config of httpd

[code]

[2021-05-24 03:22] amoskong commented on #3502
Tried to ping from an external instance. The package can be monitored by tcpdump.
So the firewall of ec2 is fine.

[code]

### Correct Selinux config

There is a typo in selinux config (/etc/selinux/config). But the problem still exists after really disabled selinux

[code]

### Problem is solved after stop iptables service.

[code]

[2021-05-26 14:29] ShlomiBalalis commented on #3367
It seems that, unlike dtest, wait_for does not fail by default when reaching timeout.
So we changed the use of wait_for specifically for manager uses (https://github.com/scylladb/scylla-cluster-tests/pull/3472) and open a discussion pr for the general default (https://github.com/scylladb/scylla-cluster-tests/pull/3484)

[2021-05-26 14:29] #3367 closed

[2021-05-26 14:42] shoshan opened #3582 "failing SSH to oracle node Gemini test"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): ``
Cluster size: 3 nodes (i3.large)
Scylla running with shards number (live nodes):
   gemini-with-nemesis-3h-normal-4-5-db-node-68327d58-1 (13.49.69.92 | 10.0.3.136): 2 shards
   gemini-with-nemesis-3h-normal-4-5-db-node-68327d58-2 (13.48.70.8 | 10.0.2.103): 2 shards
   gemini-with-nemesis-3h-normal-4-5-d

[2021-05-31 11:06] roydahan commented on #3502
@amoskong did you  send a PR to fix it?

[2021-05-31 11:47] amoskong commented on #3502
Thanks for the reminder, I forgot to send it out.
Just sent it out and run a byo test.

[2021-05-31 12:04] amoskong commented on #3502
There are also some todo items in future (not urgent)

1. bash error:  /etc/bashrc

[code]

2. permission to read housekeeping.uuid (add sudo)

$ cat /var/lib/scylla-housekeeping/housekeeping.uuid
cat: /var/lib/scylla-housekeeping/housekeeping.uuid: Permission denied

3. fix selinux conf (not urgent)

[2021-05-31 23:22] #3502 closed

[2021-06-02 10:19] aleksbykov opened #3612 "Add ability to login to grafana 3.8 to get live snapshot for grafana dashboard"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**:master
* **scylla**: latest
* **scylla-monitoring**: monitoring 3.8, grafana 3.8

### Description

Need to add to sct GrafanaSnapshot ability to login to grafana 3.8. after authorization it will be possible to create grafana liv

[2021-06-06 06:26] slivne commented on #3612
user admin
password admin

[2021-06-06 06:26] slivne commented on #3612
(default user - we do not need to complicate the system for tests)

[2021-06-06 11:47] yaronkaikov commented on #3568
@bentsi @roydahan , any idea when can we get it done?

[2021-06-06 15:27] roydahan commented on #3568
Not sure it'll be done and if so, not soon.

[2021-06-07 11:00] ShlomiBalalis commented on #3397
Reoccurred In master's rolling-upgrade-ami-test:

[code]

Testid: 0ea1571c-a3cf-4d10-a70c-7af7458959db

@yarongilor How was this solved?

[2021-06-07 11:01] #3397 closed

[2021-06-10 12:30] shoshan opened #3649 "gce job configured to eu-west-1 failed on exception="Quota 'C2_CPUS' exceeded. Limit: 50.0 in region us-east1.""
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: 4.5
* **scylla**: [branch or commit hash]

### Logs
* Test-id: c8f75a5a-e1da-41ed-aeaf-0b108620cb0e
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/c8f75a5a-e1da-41ed-aeaf-0b108620cb0e/20210610_113726/sct-runner-c8f75

[2021-06-10 12:47] #3649 closed

[2021-06-10 12:48] shoshan commented on #3649
from Bentsi only one region is currently supported.

[2021-06-14 12:14] yarongilor opened #3657 "number of nodes is doubled after siren-cli client-encryption modification + open-ssh-access"
scenario:

on cloud cluster initiation we call: ```self.set_cluster_client_encryption(mode='unencrypted')```
and then ```self.enable_ssh_access()```

following that, the number of original db nodes is reported to be doubled by Prometheus as seen in grafana screenshot.
The original internal grafana monitor of the cloud cluster is left correctly with original number of nodes.
![Screenshot from 2021-

[2021-06-16 07:31] amoskong opened #3667 "snitch_verify failed in artifact-tests"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: 8513d38e3a6ad38538f9f58a4437ebf1bfebbbc4
* **scylla**: 4.6.dev-0.20210615.9d49a26e79

### Logs
* test_id: 0797f4f6-2874-4fcf-a763-55f8549ca01a
* job log: db-cluster: https://cloudius-jenkins-test.s3.amazonaws.com/0797f4f6-2874-

[2021-06-16 07:34] amoskong commented on #3667
@KnifeyMoloko do you expect the endpoint_snitch is set automatically?    at least for AMI?

We can assign `endpoint_snitch: GoogleCloudSnitch` in artifact-test configs, then SCT will config it in scylla.yaml in node_setup stage.

[2021-06-17 11:35] KnifeyMoloko commented on #3667
@amoskong The intention was to check the expected snitch type for every type of backend. Since the centos-7 test was running on GCE, this test expected 'GoogleCloudSnitch' as the used snitch type. In this case it's not that there is no snitch in scylla.yaml, it's actually set to SimpleSnitch. See the following log: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/maciej/job/mc-arti

[2021-06-17 11:44] bentsi commented on #3667
For Machine Images GCE and AWS the correct snitch is set by Scylla Machine Image service and that's what test checked

[2021-06-17 12:33] KnifeyMoloko commented on #3667
Waiting for 2 Jenkins runs to complete (1 with preinstalled scylla, 1 without) to complete, than we should be good to go.

[2021-06-17 14:34] #3667 closed

[2021-06-21 01:15] asias opened #3685 "longevity-1TB-12h-GrowShrink decommission more nodes than it is configured"
The test [1] (build 9) failed again because c-s reported errors at the end of the tests

Java.io.IOException: Operation x10 on key(s) [30334b4b504d37343530]: Error executing: (UnavailableException): Not enough replicas available for query at consistency QUORUM (2 required but only 1 alive)

It is the same error we saw in build#8. The test decommissioned all the other nodes and left one node in the

[2021-06-22 05:02] juliayakovlev opened #3691 "Clean resources fails when a test runs with "reuse_cluster""
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [branch or hash tag you are working on] my private branch rebased with master
* **scylla**: [branch or commit hash]

### Logs
* test_id: [look for 'the Test ID' at the end of the log] 6273a07e-7767-49f5-a081-287261d79b58
* job

[2021-06-23 13:05] fgelcer opened #3705 "cdc - Could not update CDC description table with generation is not an error if the automatic retry works"
### Versions
* **SCT**: master
* **scylla**: master

### Logs
* test_id: 8cc744fb-ee25-4064-b259-41bf187b94a7
* job log: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/240/

this test got a `DATABASE_ERROR` event with the following content:
[code]

but this is not really an error
as @kbr- explained, this is fine, as this happened during `MultipleHardRe

[2021-06-24 12:15] fgelcer opened #3714 "nodetool Refresh nemesis not able to detect "Resharded" and nemesis fails (but there was a Resharded)"
### Versions
* **SCT**: master
* **scylla**: master

### Logs
* test_id: eadde21f-ad93-476f-a546-842a4fea2708
* job log: https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/longevity-200gb-48h/123/

i see in sct.log:
[code]

but in the node-1 (where we started the to run the command `nodetool refresh`) i see:
[code]

it means that, for some reason, the `no

[2021-06-24 12:29] fgelcer opened #3715 "SCT raised a CoreDumpEvent, but the coredump itself was not found anywhere"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210613.846f0bd16e4 with build-id 77ebbc518e4fd9560d3993067706780031d4ee26`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-48h-verify-limited--db-node-eadde21f-1 (13.51.156.141 | 10.0.1.212): 14 shards
   longevity-200gb-48h-verify-limited-

[2021-06-24 12:32] fgelcer commented on #3715
it happened during Enospc nemesis:
[code]

so probably that old issue we never been able to report the core, as we don't have enough space to dump it to the disk, while we test enospc

[2021-06-24 12:47] fgelcer commented on #3715
same, or very similar happened here too:

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20210613.846f0bd16e4 with build-id 77ebbc518e4fd9560d3993067706780031d4ee26`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-master-db-node-b2ffd3dd-1 (13.51.156.177 | 10.0.3.204): 14 shards

[2021-06-27 11:29] roydahan commented on #3705
@aleksbykov can you please look into it and if needed add the correct filter?

[2021-06-27 17:24] dkropachev commented on #3714
@fgelcer ,
It is either nodetool or remoter:

From log you see that refresh command took 0.5 second to complete:

[code]

While db node shows that resharding took at least 1 second:

[code]

So it is either remoter prematurely reported command completion or command endeed completed before sharding was done.

[2021-06-27 17:58] fgelcer commented on #3714
nope, it actually took `duration -> 10.115686147000815 s`

the thing is that, after the `refresh` ended, it could be that the reshard was delayed (it maybe failed while `refresh` was running, and it retries every 60 seconds) but by then, we already raised the error event, instead of waiting a bit longer for reshard to run (and finish)

[2021-06-28 01:47] asias opened #3716 "update_db_packages does not work with ubuntu based ami"
The code is hard coded to work rpms only.

[code]

[2021-06-28 11:02] dkropachev opened #3719 "scylla-manager throw db exception and there is no way to see s-m db logs"
### Versions
scylla_repo_m: http://downloads.scylladb.com.s3.amazonaws.com/rpm/centos/scylla-2020.1.repo

### Logs
* test_id: ec3de2d1-c445-44b0-83bc-2034a78c466c
* db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/ec3de2d1-c445-44b0-83bc-2034a78c466c/20210627_083423/db-cluster-ec3de2d1.tar.gz
* loader-set - https://cloudius-jenkins-test.s3.amazonaws.com/ec3de2d1-c445-44b0-83bc-2034a78c4

[2021-06-28 13:07] dkropachev opened #3720 "cdc-stresser reports argument error"
Test-id: 80fa4825-41a0-4634-ae74-53b65604e128

[code]

[2021-06-28 15:06] dkropachev opened #3721 "Rolling upgrade tests does not report on what is being executed at the moment"
### Description
Time to time test is running super slow, and there is very little you can do to investigate what exactly queries are getting slowed.

Lets log execution time for every step there

[2021-06-29 08:31] dkropachev opened #3723 "get_branch_version fails on deb repo when more than one arch is defined"
Running following code end up in error:

[code]

The reason is that we have another arch in the repo file:

[code]

Two ways to fix that:
1. Go single arch and hard code it in there
2. Create another sct param to specify architecture you are going to use and pass it down to all repo related routines

[2021-06-29 11:00] bentsi commented on #3723
3. support both architectures

[2021-06-29 13:39] dkropachev opened #3728 "Time to time we hit elasticsearch ceiling on request size"
Time to time we hit elasticsearch ceiling on request size.
When it is happening we see this exception:

[code]

[2021-06-29 13:39] dkropachev commented on #3728
@vponomaryov , I know you are working on it, could you please take care of the issue

[2021-06-29 13:41] fgelcer commented on #3728
thank you @dkropachev

[2021-06-29 15:10] vponomaryov commented on #3728
Yesterday was merged workaround for that problem: https://github.com/scylladb/scylla-cluster-tests/commit/ff689f55
@dkropachev , @fgelcer - Cherry-pick it where you need it.

[2021-07-01 13:29] #3723 closed

[2021-07-01 14:30] dkropachev commented on #3720
Fixed

[2021-07-02 12:22] dkropachev opened #3738 "gemini-1tb-10h fails with 'No space left on device'"
test_id: bfcaed3f-d957-4833-83eb-792a2466ee5e

[code]

Do we need to increase ssd capacity there ?

[2021-07-02 12:49] dkropachev opened #3739 "gemini-1tb-10h-test fails by timeout"
Average time for gemini-1tb-10h-test to complete is 12h30m, while timeout set to 13h
It is result of having `--duration 36000s --warmup 7200s` in `test-cases/gemini/gemini-1tb-10h.yaml`

So we need to reduce warmup either duration or warmup

test_id: 0c5f2867-f392-4e06-be98-c32ff3025855

[2021-07-02 16:58] dkropachev opened #3740 "disrupt_remove_node_then_add_node can last for hours"
There is the code that is running cleanups:
[code]

On average cleanup takes 20 seconds for nearly empty keyspace
If you have 6 nodes and 10 keyspaces, you will end up waiting for 20 minutes just over empty ks, if there any data there you can have it for more than 2 hours, as it happened on this run.

Just have it parallelized by hosts would give 6 times speedup

test_id: 331a7428-0325-4d1f-b1e9-a

[2021-07-02 19:08] dkropachev commented on #3728
thanks @vponomaryov closing it

[2021-07-02 19:08] #3728 closed

[2021-07-05 10:00] amnonh opened #3746 "Clear the UA.sh file in scylla Monitoring before calling start-all.sh"
Scylla Monitoring 3.8 and onwards are using google analytics, it takes the UA code from a file called ``UA.sh`` in scylla-monitoring directory.

To avoid getting the QA data as actual hits, it would be best if we can clear that file before call to ``start-all.sh`` i.e.:
[code]

[2021-07-05 10:24] roydahan commented on #3739
Let's reduce duration by one hour.

[2021-07-05 10:55] dkropachev commented on #3739
I think it worth to mention that since it is claiming to be 10h run, we need to make duration + warmup = 36000

[2021-07-05 11:00] roydahan commented on #3738
Need more inforamtion.
Which instance types we use?
What was the sequence of the nemesis?
Which compaction strategy did the test use?

[2021-07-05 11:02] roydahan commented on #3738
If we don't enforce the strategy to be LCS it is inevitable

[2021-07-05 11:27] dkropachev commented on #3738
Hello,

Nemesis:
ShrinkCluster
MultipleHardRebootNode

Cluster: 3xi3.4xlarge

Compaction is not set there, so I believe it is SizeTieredCompactionStrategy

[2021-07-05 12:31] dkropachev opened #3750 "functional_tests is getting stuck on cluster initialization"

[2021-07-05 12:45] dkropachev opened #3751 "functional_tests are failing on master due to the scylla-operator error: `unknown flag: --log-level`"
s-o image: `scylladb/scylla-operator:nightly`
[code]

It is not happening on s-o image: `scylladb/scylla-operator:1.3`

[2021-07-05 13:35] roydahan commented on #3738
With monitor it would be easier to prove it, but STCS is not something we can test with i3.4xlarge with a 1TB dataset.
We already know it from regular longevity.
However, if we bump into this issue rarely, we can leave it  like that.

[2021-07-06 08:41] dkropachev opened #3756 "after disrupt_kill_scylla scylla-manager-agent can fail on startup and never recover"
test_id: d590d632-9008-4054-b332-78a432790fbe

Logs:
db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/d590d632-9008-4054-b332-78a432790fbe/20210628_152305/db-cluster-d590d632.tar.gz  |
loader-set - https://cloudius-jenkins-test.s3.amazonaws.com/d590d632-9008-4054-b332-78a432790fbe/20210628_152305/loader-set-d590d632.tar.gz  |
sct-runner - https://cloudius-jenkins-test.s3.amazonaws.com/d

[2021-07-06 09:55] #3756 closed

[2021-07-07 11:40] roydahan commented on #3714
May retrying on the  search_log function help here?
Maybe there is  a delay in messages or something like that?

[2021-07-07 12:46] #3746 closed

[2021-07-07 15:26] dkropachev commented on #3714
We just need to wait some time for it to appear

[2021-07-08 07:24] #3739 closed

[2021-07-09 09:44] #3751 closed

[2021-07-09 09:45] #3750 closed

[2021-07-14 15:35] #3714 closed

[2021-07-15 13:43] dkropachev opened #3786 "test_cassandra_rackdc started to bring cluster to the state when one node does not see others"
### Steps to Reproduce

1. sct.py run-pytest functional_tests/scylla_operator --backend k8s-local-kind --config test-cases/scylla-operator/functional.yaml --logdir="`pwd`"

**Expected behavior:** [What you expected to happen]
Test is passed

**Actual behavior:** [What actually happened]
It is stuck in the middle

[2021-07-22 07:17] dkropachev commented on #3691
@juliayakovlev , how did this job was started ? how did clean resources was triggered ?

[2021-07-22 11:52] hagitsegev opened #3809 "AMI and GCE artifact-test usability enhancement: Write instance as job description"
You currently write the instance on the "step" of the build (like Checkout (i3.large) and Run SCT Test (i3.large)).
This causes Jenkins to erase the job table on each run, so it is harder to see the success history and time each step takes.

![image](https://user-images.githubusercontent.com/40736347/126635136-f34fd9e5-7a3a-47b3-9c43-406bb165b57a.png)

Please don't include the instance name on the

[2021-07-26 09:25] yarongilor opened #3816 "log collector fails collecting cloud manager logs: KeyError: 'cloud_manager_id'"
[code]

[2021-07-26 12:46] Orenef11 commented on #3816
I know, there are 2 PRs that fix it:
 https://github.com/scylladb/scylla-cluster-tests/pull/3815
https://github.com/scylladb/siren-tests/pull/639

[2021-07-26 13:30] yarongilor opened #3818 "successful cloud manager backup command fails for needless stderr output check"
When running sdcm.nemesis.MgmtBackup with cloud manager it doesn't have the awkward meaningless stderr as in original manager (https://github.com/scylladb/scylla-cluster-tests/blob/fc6c562639d3abf843972347c45c89f70430d01f/sdcm/mgmt/cli.py#L443)

so the although the cloud manager command finish successfully, it raises exception for this.
(i think it is needless to check and raise for this if stdout

[2021-07-26 14:51] bentsi commented on #3691
we don't use REUSE_CLUSTER as part of our YAML configuration for running tests, let's not fix this since in any case we will need to think about this when refactoring provision/install logic

[2021-07-26 14:51] #3691 closed

[2021-07-26 15:29] Orenef11 commented on #3816
The PRs were merged

[2021-07-26 15:29] #3816 closed

[2021-07-27 06:24] yarongilor commented on #3818
Fixed in https://github.com/scylladb/scylla-cluster-tests/pull/3819

[2021-07-27 06:24] #3818 closed

[2021-08-02 12:24] bentsi commented on #2859
doesn't happen any more, let's close it

[2021-08-02 12:24] #2859 closed

[2021-08-05 10:06] enaydanov opened #3850 "scylla-master-perf-regression-aws-test-throughput-disk-cache failed with docker toomanyrequests error"
[Build #12](https://jenkins.scylladb.com/view/Performance/job/scylla-master/job/scylla-master-perf-regression-aws-test-throughput-disk-cache/12) of scylla-master/scylla-master-perf-regression-aws-test-throughput-disk-cache job failed because of Docker error:

[code]

TestID: 5c4699f6-456b-4b8f-b4cd-356155e23f98

[2021-08-05 10:36] roydahan commented on #3850
Are we doing it with a specific user?
Don't we have some users that are not limited using the license we have?
@bentsi ?

[2021-08-05 10:51] roydahan opened #3851 "Stress Threads doesn't stop when a critical event is triggered"
While testing scylla-4.5  I noticed that even when we have a critical event and the test main thread is stopping, the test still wait for the stress threads to finish and doesn't stop all threads immediately  as expected.

To reproduce: Run longevity-50gb-3d on 4.5.rc5  (triggers critical event from one stress thread quite fast).

An example job where it happens:
https://jenkins.scylladb.com/view/

[2021-08-05 14:53] bentsi commented on #3851
the issue is in the full scan thread since we never stop it at the end of the test. Dmitriy, I'll open a task to fix this.

[2021-08-05 17:11] dkropachev commented on #3850
We are doing it with no authorization, so the limit to 100 pulls per 6
hours per ip.
If we turn on authorization we will get 5000 per 24 hours, but it is not
clear whether requests are going to be bound by ip or by account.

On Thu, Aug 5, 2021 at 1:36 PM Roy Dahan ***@***.***> wrote:

[2021-08-06 13:40] dkropachev commented on #3851
Thanks @bentsi for analisys, i will fix it.

[2021-08-06 13:59] dkropachev opened #3858 "Operator upgrade somehow trigger kubernetes API to respond 500 when node is added after the upgrade"
Testid: 49d5c327-e249-4dbd-8793-5afd0706549a
Job link: https://jenkins.scylladb.com/view/scylla-operator/job/scylla-operator/job/operator-1.4/job/upgrade/job/upgrade-operator-k8s-eks/6/

[code]

### Versions
sct: operator-1.4
operator: v1.4.0-rc.0-0-g910a3e0
k8s: v1.20.4-eks-6b7464

### Logs
db-cluster  | https://cloudius-jenkins-test.s3.amazonaws.com/49d5c327-e249-4dbd-8793-5afd0706549a/20210806_

[2021-08-06 13:59] dkropachev commented on #3858
Pod that was added stopped on iotune:

[code]

[2021-08-06 14:08] dkropachev commented on #3858
Node info:

[code]

[2021-08-06 14:15] dkropachev commented on #3858
Loos like there is some issue on EKS API side, not enouth information to investigate it, we need to get API logs off the EKS on the tearDown

[2021-08-06 14:22] dkropachev opened #3859 "EKS Logging feature is getting charged"
We turn cluster loggin on by default at https://github.com/scylladb/scylla-cluster-tests/blob/0b2812c1feb425b5186ec46032fa7398093d427d/sdcm/cluster_k8s/eks.py#L260-L273

According to the AWS [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/eks.html) we are getting charged for it:

[code]

Probably it worth of turning it off by default and turn it on only for tests

[2021-08-09 09:44] yarongilor opened #3868 "DecommissionStreamingErr runtime_error failure is not filtered, failing with: This node was decommissioned and will not rejoin the ring"
error log:
[code]
*Installation details*
Scylla version (or git commit hash): `4.3.6-0.20210801.5cd698c89 with build-id 1585d5b0760cc6f0650a7a4b7fd85c46d4de7991`
Cluster size: 6 nodes (i3.4xlarge)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-0942dde5603bebcba` (aws: eu-north-1)

Test: longevity-10gb-3h-test
Test name: longevity_test.LongevityTest.test_custom_time
Test config file(s):
- [longevity-10gb-3h

[2021-08-09 10:27] roydahan commented on #3868
@yarongilor the issue doesn't have enough details, and it's probably not a real issue.

[2021-08-09 12:34] yarongilor commented on #3868
@roydahan , it's a real SCT filtering issue. as the logs show that from some reason the DbEventsFilter are not filtering its expected-error-to-filter after the reboot of decommissioned node. the adding of new node only happened afterwards.
[code]

[2021-08-09 12:39] roydahan commented on #3868
But why was the decommissioned node was rebooted?
Shouldn’t this nemesis reboot a different node than the decommissioning
node?

On Mon, Aug 9, 2021 at 15:34 yarongilor ***@***.***> wrote:

[2021-08-09 12:48] yarongilor commented on #3868
In current code, the decommissioned node is the one who rebooted:
https://github.com/scylladb/scylla-cluster-tests/blob/cbdab37e116d29abfcf9bee66d61d18f2fc63791/sdcm/nemesis.py#L2518

[2021-08-09 15:25] #3851 closed

[2021-08-09 22:38] amoskong commented on #3868
The only issue is that the errs weren't filtered out as expected.
In decommission_post_action(), we verified the decommission completed and re-add a new node.

[2021-08-11 15:47] yarongilor opened #3878 "Loader setup in GCP fails with: 'sudo yum install -y scylla-tools' No package scylla-tools available."
error:

[code]

*Installation details*
Kernel version: `5.8.0-1038-gcp`
Scylla version (or git commit hash): `2021.1.4-0.20210721.6cb3fc153 with build-id fca16a2479fa0f0e8e49791757da28fcb79d5dfa`
Cluster size: 3 nodes (n1-highmem-8)
Scylla running with shards number (live nodes):
   longevity-small-set-1h-gcp-open-db-node-4d586840-1 (35.227.39.17 | 172.31.0.4): 4 shards
   longevity-small-set-1h-g

[2021-08-11 16:23] yarongilor commented on #3878
logs shows: scylla_repo_loader: ''
should probably be something like:
scylla_repo_loader: https://s3.amazonaws.com/downloads.scylladb.com/rpm/centos/scylla-4.2.repo

[2021-08-16 08:19] yarongilor commented on #3878
should be resolved by https://github.com/scylladb/siren-tests/pull/687

[2021-08-16 08:19] #3878 closed

[2021-08-19 18:30] enaydanov commented on #3850
Looks like we're unlimited: https://www.docker.com/blog/expanded-support-for-open-source-software-projects/

Just need to authorize.

[2021-08-19 18:34] enaydanov commented on #3850
Also, I tried to understand the limit of my account:

[code]

I.e., no limit.

[2021-08-23 11:54] roydahan opened #3902 "mgmtBackup task didn't reach "final" state - longevity-200gb"
Test-id: 9c20da8f-f455-4c3a-b333-3ef70ee52c66
Start time: 2021-08-20 03:00:22
End time: 2021-08-22 09:12:31

e-9c20da8f-2 [13.49.78.26 | 10.0.2.234] (seed: False) errors=RetryError[Wait for: Waiting until task: backup/d9b7babf-d8ed-4add-afef-28254065a5a5 reaches status of: ['ERROR (4/4)', 'DONE']: timeout - 54000 seconds - expired]
Traceback (most recent call last):
  File "/home/ubuntu/scylla-clu

[2021-08-23 12:52] vponomaryov opened #3903 "Failure getting other test results from ES for comparison in CI jobs that use perf-regression-cdc-mixed-latency-60min.jenkinsfile"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: branch-perf-v10
* **scylla**: master

### Logs
* test_id: **2ff912d1-09f4-4311-b5f6-876d36147535** and **d1923142-59fd-45c9-875d-1a4cc16e61fc**
* job log:
* - https://jenkins.scylladb.com/view/Performance/job/scylla-master/job/

[2021-08-23 15:12] #3903 closed

[2021-08-25 19:27] vponomaryov opened #3909 "CI jobs with usage of SCT runners are broken"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: any

### Description

After merge of https://github.com/scylladb/scylla-cluster-tests/pull/3901 we are not able to use CI jobs that create SCT runner anymore.
We get following error:

[code]

The root cause

[2021-08-26 07:04] #3909 closed, assigned to vponomaryov

[2021-08-29 15:31] yarongilor opened #3919 "siren backend config fails with a non-siren check: '...scylla-manager/noarch/repodata/repomd.xml' is incorrect'"
In case of siren backend, SCT currently incorrectly validates scylla manager repos and fails like -
error log:
[code]
build url: https://jenkins.scylladb.com/job/siren-tests/job/longevity-tests/job/scylla-cloud-longevity-small-data-set-1h-aws/252/
[sct.log](https://github.com/scylladb/scylla-cluster-tests/files/7072780/sct.log)

[2021-09-01 14:00] vponomaryov commented on #3919
This bug has been fixed by the following PR: https://github.com/scylladb/scylla-cluster-tests/pull/3916

[2021-09-01 14:00] #3919 closed

[2021-09-09 14:51] yarongilor opened #3942 "soft_reboot_node nemesis fails with critical error: POWER_OFF"
soft_reboot_node nemesis fails with critical error: POWER_OFF.
so there may be several different problems here:
1. scylla issue (not high chances for that)
2. Wrong semantics of event - "power-off" instead of something like "reboot".
3. Missing filtering to nemesis for the reboot related operations.

error log:
[code]

*Installation details*
Kernel version: `5.8.0-1038-gcp`
Scylla version (or git

[2021-09-10 18:51] KnifeyMoloko opened #3949 "Invalid partition key in a modification statement when modifying CDC tables"
Error log:

Numerous rolling upgrade tests fail when trying to modify CDC tables, with the direct error being:
[code]

This is preceded by the following  error:

[code]

Test: upgrade_test.UpgradeTest.test_rolling_upgrade
Build number: 88
Backend: gce: eu-west-1
Kernel version: 4.18.0-305.12.1.el8_4.x86_64
Test-id: bacafda7-7214-4cf1-892a-51c0908d4b07
ScyllaDB version: 4.5.rc7-0.20210906.edead1caf

[2021-09-12 08:21] yaronkaikov opened #3950 "sct.py:list_ami_branch: Ignore all AMI images based on name starting with `debug-image`"
Should be done only after https://github.com/scylladb/scylla-machine-image/pull/203 and https://github.com/scylladb/scylla-pkg/pull/2396

[2021-09-12 13:56] roydahan commented on #3949
@aleksbykov is this something you added?

[2021-09-12 13:59] roydahan commented on #3942
@yarongilor what is the issue here?
You are copy pasting things without editing the issue description and without explaining what's broken.

@amoskong I think you added this type of critical event as part of "937b201765a737e8cba05b880d2863a54210ebc0".

[2021-09-12 14:00] roydahan commented on #3942
@KnifeyMoloko if this happens in another run, please add the information here.

[2021-09-13 04:36] aleksbykov commented on #3949
Yes, but issue happened not with CDC.
Next query is marked as invalid for test "empty_in_test":
"DELETE FROM empty_in_test1 WHERE k1 IN ()"
Failed happened, after 1st node was upgrade. Is it possible that on 4.5.rc7 this query syntax is invalid?

[2021-09-13 10:30] roydahan commented on #3949
We need to debug it.
It may point on a scylla issue.

@KnifeyMoloko can you please try to debug it?
You can try to run this query as part of ccm / dtest on master and 4.5.rc7 and prior build.

[2021-09-13 12:25] yarongilor commented on #3942
Amos is fixing it.

[2021-09-13 19:22] yaronkaikov commented on #3950
/cc @fgelcer @bentsi

[2021-09-23 12:19] yarongilor commented on #3942
I didn't see any fix by @amoskong . this still fails siren longevities. @roydahan is there any fix for this?

[2021-09-23 12:52] amoskong commented on #3942
There is another fix:

https://github.com/scylladb/scylla-cluster-tests/pull/3972

[2021-09-24 19:08] vponomaryov commented on #3786
It is bug in the operator. Setting of "prefer_local=true" option breaks Scylla clusters: https://github.com/scylladb/scylla-operator/issues/797

[2021-09-29 09:47] vponomaryov commented on #3786
So, I am closing this issue, because it will be addressed in the operator itself at https://github.com/scylladb/scylla-operator/issues/797

[2021-09-29 09:47] #3786 closed

[2021-09-30 11:37] yaronkaikov opened #3988 "artifact failed on `SCT collect logs data()`"
Seen for multiple SCT artifacts tests:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-ubuntu2004-test/323/
and also in  https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-amazon2-test/287/

from ubuntu:20.04 logs i see the following error
[code]

and
[code]

[2021-09-30 11:37] yaronkaikov commented on #3988
@scylladb/qa-team

[2021-09-30 11:59] fgelcer commented on #3988
@yaronkaikov , the 1st error is fine, we added a retry in the call to `apt-get install`, because `apt-get` is a singelton command, and system calls can get it busy, and it was failing...
what is the issue you see?

[2021-09-30 12:00] yaronkaikov commented on #3988
The artifact failed on `collect logs data` stage and therefor fail the job so unified-deb is also failing

[2021-09-30 12:01] fgelcer commented on #3988
this is the failure in the collect_logs:
[code]

[2021-09-30 12:04] fgelcer commented on #3988
@enaydanov , it seems related to the runner @amoskong added to these jobs (and removed afterwards)

[2021-10-01 08:40] yarongilor opened #3989 "GCE loader setup fails with: CreateGCENodeError: Failed to create node"
job log: https://jenkins.scylladb.com/job/siren-tests/job/longevity-tests/job/cloud-longevity-small-data-set-1h-gcp_dbg/51/
[code]

19:44:13  +----------------------------------------------------------------------------------------------------------------------------------------------+
19:44:13  |                                       Collected logs by test-id: 8203ad8a-e103-425b-a321-c6b3ae8973a5

[2021-10-01 21:21] vponomaryov commented on #3989
The problem is not in the loaders.
The job failed due to the appearance of the following critical event:

[code]

Node logs have following:

[code]
Then, I suppose that recent switch from the "aws-siren" and "gce-siren" backend names to "aws" and "gce" caused this failure.
The cause is hard dependency on the "*-siren" name and when it is not like this then node tags are not set which leads to unex

[2021-10-03 09:20] yarongilor commented on #3989
Probably during loader setup, the issue of https://github.com/scylladb/scylla-cluster-tests/issues/3942 was reproduced. so this might only be a duplicate of it.

[2021-10-03 09:20] #3989 closed

[2021-10-03 10:30] yaronkaikov commented on #3988
/cc @ShlomiBalalis @roydahan

[2021-10-03 10:43] yaronkaikov opened #3991 "4.3: ami artifact test is failing due to timeout"
Seen in https://jenkins.scylladb.com/view/scylla-4.3/job/scylla-4.3/job/artifacts/job/artifacts-ami-test/910/console

It's failing for a while now, preventing next-machine-image to pass  .

Need to be fix so we can start the a new release

[2021-10-03 10:44] yaronkaikov commented on #3991
/cc @roydahan @bentsi @yarongilor

[2021-10-03 11:32] yaronkaikov opened #3992 "4.3: GCE artifact test failed to start scylla service"
job https://jenkins.scylladb.com/view/scylla-4.3/job/scylla-4.3/job/artifacts/job/artifacts-gce-image-test/111/console failed to start Scylla (it's the same for couple of last runs)
[code]

This is blocking us from starting 4.3 release as next-machine-image can't pass

[2021-10-03 11:32] yaronkaikov commented on #3992
/cc @yarongilor @roydahan @slivne

[2021-10-03 11:57] fgelcer commented on #3988
looking into [this job](https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-amazon2-test/287/) i see:

[code]

before that, i see that:
[code]

was this caused by any change in the regions (GCE vs AWS)?
shouldn't we send this `SCT_REGION_NAME` for the GCE region?
@enaydanov @dkropachev @bentsi ?

[2021-10-03 12:02] yaronkaikov commented on #3988
@enaydanov @dkropachev @bentsi @fgelcer maybe related to https://github.com/scylladb/scylla-cluster-tests/pull/3791/commits/697eef65f5e47c6e4e67ee7a9933dc1f4f561748 ?

[2021-10-03 12:12] fgelcer commented on #3988
nope, looks related to https://github.com/scylladb/scylla-cluster-tests/commit/5cad86d

[2021-10-03 12:25] fgelcer commented on #3988
@yaronkaikov , this is my fix suggestion in here:
https://github.com/scylladb/scylla-cluster-tests/pull/3994

[2021-10-03 12:30] amoskong commented on #3988
In https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-ubuntu2004-test/323/console

No new sct runner is created (it's expected.), but there was a sct_runner_ip exists in running runCollectLogs(), runCleanupResource(), runSendEmail().

I just sent a PR to clean the old sct_runner_ip file.

- https://github.com/scylladb/scylla-cluster-tests/pull/3993

[2021-10-03 12:32] fgelcer commented on #3988
thank you @amoskong ... i'm not sure the PR you sent is the full solution, but it doesn't bother to remove old `sct_runner_ip` files in the beginning of a test call

[2021-10-03 12:41] amoskong commented on #3988
https://jenkins.scylladb.com/view/master/job/scylla-master/job/artifacts/job/artifacts-ubuntu2004-test/321/

This is a PASSed job, the commit (58fb3f6abbbd8379be18d949fbaba19fb653b986) is after my fix (4526c7a95074a83f0d92c43ad2769f6a821a3f34  fix(artifacts pipeline): disable sct runner).

It's strange that the sct_runner_ip file exists, however the only fix solution is cleaning the old sct_runner

[2021-10-03 14:17] #3988 closed

[2021-10-03 18:50] fgelcer commented on #3988
@amoskong @bentsi , seems like not all artifact tests were fixed...
see [this one](https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-centos8-arm-test/41/), it seems to be failing with same symptoms (hence i think it has the same issue)

[2021-10-03 19:24] yaronkaikov commented on #3988
@amoskong @bentsi So after ubuntu 20.04 artifact passed once, now it's failing again
[code]
Don't know if it's related to this fix or something else

[2021-10-04 01:34] amoskong commented on #3988
I just sent a fix : https://github.com/scylladb/scylla-cluster-tests/pull/3997

[code]

[2021-10-04 10:06] amoskong commented on #3988
After applied sct fix (https://github.com/scylladb/scylla-cluster-tests/pull/3997), the KeyError in runCollectLogs() disappeared.
- https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-amazon2-test/289/
- https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-centos8-arm-test/42/

It seems the jobs failed for ami issue, timeout to connect the instance.

I

[2021-10-04 10:42] amoskong opened #4000 "process_scylla_args() failed when seastar arguments were split to --help-seastar option"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**:  master, a06841beafbab880ce10f7b9324d727325f4ed0e
* **scylla**: 4.6.dev-0.20211004.61e7d3de90

### Logs
* test_id: 450482e0-9456-43f5-941f-a56aabbe14e9
* job log:  db-cluster  | https://cloudius-jenkins-test.s3.amazonaws.com/45

[2021-10-04 16:38] bentsi commented on #3991
It has a dracut issue
![image](https://user-images.githubusercontent.com/5269241/135890135-cc8972ac-59bf-4cee-b54b-578d04e1a378.png)

[2021-10-05 05:59] yaronkaikov commented on #3991
Job passed while running from next. it looks like a bug in `next-machine-image` which is using the wrong branch . we have a workaround for that

[2021-10-05 07:47] #4000 closed

[2021-10-05 09:57] bentsi commented on #3991
the issue was in the Releng side, scylla-machine-image next job didn't use next-4.3 branch, so the fix `2205301 - aws: add xen-blkfront driver to kernel-ml initramfs (4 weeks ago) <Takuya ASADA>` was not applied. Yaron fixed and AMI job passes now.

[2021-10-05 09:57] #3991 closed

[2021-10-05 10:12] yaronkaikov commented on #3992
I have created instance with the same type as the artifct test from same image source and Scylla is up and running

[2021-10-06 05:55] yaronkaikov commented on #3992
[code]

[2021-10-06 19:59] syuu1228 commented on #3992
How do I able to reproduce the error locally?

I tried to run target image (scylla-4-3-7-build-2021-09-29t07-51-10 on scylla-images) but my account does not have permission to run it:
[code]

So I generated GCE image with same unstable rpm repo, but generated GCE image able to start scylla finely, no error occurred.

[2021-10-07 05:35] yaronkaikov commented on #3992
@syuu1228 You can log into google cloud web console and then under scylla project look for `artifacts-gce-image-jenkins-db-node-61d40c44-0-1` instance (it;s up and running) and you can ssh from there

[2021-10-07 13:13] benipeled opened #4016 "Disable scylla-manager test on SLES15"
The [artifacts-sles15-test](https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-sles15-test/) is trying to test scylla-manager on SLES15 which isn't supported (which of course causes the test to fail),
The sles15 config should be updated accordingly (at least until it will be supported).

[code]

[2021-10-09 12:38] enaydanov opened #4021 "Wrong format used for field_selector KubernetesWrongSchedulingLogger._logger_cmd()"
https://github.com/scylladb/scylla-cluster-tests/blob/ff5ad1c17009baccfe738a40599c088a14f8348c/sdcm/utils/remote_logger.py#L317-L318

According to [docs](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-operators) set-based requirement not supported for `field_selector`.

In result `list_pods()` tries to get list of pods for 10 minutes (because always go

[2021-10-09 12:38] enaydanov commented on #4021
I see this syntax was suggested by @vponomaryov [here](https://github.com/scylladb/scylla-cluster-tests/pull/3921#discussion_r700060982), but there is a difference between `field_selector` and `label_selector`. Latter supports [set-based requirement](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#set-based-requirement).

[2021-10-10 10:48] hagitsegev opened #4022 "Images (GCE, AMI, Azure): Align label/tag names"
SCT is using tags and labels on it's queries to find the latest image to test.
On https://github.com/scylladb/scylla-machine-image/issues/230 we want to align the tags and labels on different images to use the same naming convention.
The suggestion is to set them as camel case.
Align SCT with this change.

[2021-10-10 10:57] hagitsegev opened #4023 "Images: query for last tested image"
We have some historic - not making sense flow on AMI (comes from the days we used Jenkins free style jobs):
- We create the AMI with some tags (such as ScyllaVersion).
- We test the AMI (artifact test).
- If passed, we add some tags, such as branch (should be releaseName), operating-system and build-id.
- Now comes Hydra, and queries to find the latest tested (by artifact test) AMI.

This process

[2021-10-10 12:53] fgelcer opened #4025 "Huge delay of log messages making several different tests to fail (largest delay so far was 10 hours)"
original title was:
"longevity-10gb-3h-test failed with `repair is aborted` late events from `AbortRepair` nemesis"

### Versions
* **SCT**: master (ff5ad1c17009baccfe738a40599c088a14f8348c)
* **scylla**: 4.6.dev-0.20211009.235c38e78 with build-id dd3f6ff2a8b81dff1bc1619a35cb2ce0e0af7118
* **scylla-ami-id**: ami-01a87a0a80bacc81c (us-east-1)

### Logs
* test_id: 923db347-c8e9-48d2-8760-4ac97d27857

[2021-10-12 13:13] fgelcer opened #4032 "should `ScyllaBenchLogEvent` ERROR events for `ConsistencyError` be filtered out during `RestartWithResharding`"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211009.235c38e78 with build-id dd3f6ff2a8b81dff1bc1619a35cb2ce0e0af7118`
Cluster size: 5 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-large-partitions-3h-maste-db-node-a49b59f8-1 (16.170.98.85 | 10.0.0.140): 5 shards
   longevity-large-partitions-3h-maste-db-

[2021-10-15 08:55] aleksbykov commented on #3949
This error is expected and related to c-s/scylla python driver. the problem is that  '-inf'/'inf' comparead as different objects for same collumn before and after upgrade. if you compare the rows, the are indentical.

Was it investigated?

[2021-10-17 14:37] #4032 closed, assigned to nobody

[2021-10-17 16:51] yarongilor opened #4048 "Collect log data fails with: rsync: delete_file: unlink(siren-tests/sct_plugin/scylla_cluster_tests_cloud_plugin.egg-info/top_level.txt) failed: Permission denied (13)"
It looks like trying to delete the SCT plugin results with some SSH/permissions related error:
[code]

just a wild guess here could be a relation to python-10 upgrade of SCT vs. python3.8 of siren-tests.
log:
https://jenkins.scylladb.com/view/siren/job/siren-tests/job/longevity-tests/job/cloud-longevity-small-data-set-1h-gcp/34/execution/node/189/log/

[2021-10-19 19:19] #4016 closed, assigned to nobody

[2021-10-20 06:44] bhalevy opened #4054 "Please publish metadata for decoding backtraces in SCT reports"
The performance regression report (and maybe other reports as well)
may contain backtraces from the run.

To decode them we need:

1 The build_id of scylla that was tested
2. Exact kernel version: `$(uname -r)`
3. Kernel symbols: `cat /proc/kallsyms | gzip > /tmp/kallsyms.gz`

/cc @avikivity

[2021-10-21 06:45] #3850 closed

[2021-10-28 16:06] dkropachev opened #4068 "rolling upgrade tests are failing with "No results from Prometheus""
Trace:

[code]

### Logs
* test_id: cae5cc83-4d10-499a-8210-f84ddc6c6d60
* run: https://jenkins.scylladb.com/view/master/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-ubuntu16.04-test/139
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/cae5cc83-4d10-499a-8210-f84ddc6c6d60/20211010_110937/sct-runner-cae5cc83.tar.gz

[2021-10-31 16:02] aleksbykov commented on #3949
Investigate issue in driver, and may be open the issue for it. and while it is not fixed, compare inf/-inf field's value differently.
But origin issue not in this error message, the origin issue was some query failed after upgrade. And this should be investigated.

[2021-11-01 13:22] fgelcer commented on #3949
is there an issue for the driver?
what is the query that failed? if there is an issue with the driver, it could be the reason to the failure in the query, no?

[2021-11-01 17:33] dkropachev opened #4080 "disrupt_nodetool_refresh can fail with "nodetool: Unknown tables: [standard1] in keyspace: keyspace1""
Log:

[code]

### Logs
* test_id: deda6e85-a4d7-4487-9192-2b558a242cbc
*db-cluster: https://cloudius-jenkins-test.s3.amazonaws.com/deda6e85-a4d7-4487-9192-2b558a242cbc/20211031_173438/db-cluster-deda6e85.tar.gz
*loader-set: https://cloudius-jenkins-test.s3.amazonaws.com/deda6e85-a4d7-4487-9192-2b558a242cbc/20211031_173438/loader-set-deda6e85.tar.gz
*monitor-set: https://cloudius-jenkins-test.s3.am

[2021-11-01 19:11] roydahan commented on #4068
@dkropachev what's the root cause of it?
Did it happen on this week runs as well?

[2021-11-01 20:08] fgelcer commented on #4068
on this run where you reported this issue i see:
[code]

and then:
[code]
so the error `No results from Prometheus` could be a real error in SCT, but it doesn't seem to fail the test (i saw it happening in the past already)

[2021-11-03 08:13] dkropachev opened #4085 "problem with timestamps on scylla-bench events"
Some events of s-b are getting wrong timestamp:

[code]

Concerning lines:
2021-10-29 05:03:27.197 <**2021-10-29 01:33:18.400**>
2021-10-29 05:03:27.229 <**2021-10-29 01:33:20.900**>

[2021-11-03 18:36] dkropachev opened #4088 "Rsyslog replays logs from the past"
If you take almost any run and look at the content of `message.log` and `system.log` on `db` nodes you would see that size is different and the difference is significant.
If you look closer you would see that some logs records in the message.log are getting repeated multiple times.
Time to time old records are mixed with new records.

It turns out there it is a rsyslog [bug](https://github.com/rsy

[2021-11-03 18:37] dkropachev commented on #4088
Example of log duplication is this:
test_id: `015c0d31-88b2-40a7-8249-e3971a1e952a`
db-cluster: https://cloudius-jenkins-test.s3.amazonaws.com/015c0d31-88b2-40a7-8249-e3971a1e952a/20211029_140815/db-cluster-015c0d31.tar.gz
loader-set: https://cloudius-jenkins-test.s3.amazonaws.com/015c0d31-88b2-40a7-8249-e3971a1e952a/20211029_140815/loader-set-015c0d31.tar.gz
monitor-set: https://cloudius-jenkins-

[2021-11-03 18:50] dkropachev commented on #4088
Probable solution would be to switch to https://hub.docker.com/r/balabit/syslog-ng/

[2021-11-03 18:57] fgelcer commented on #4054
and we need to read `/proc/kallsyms` as root, otherwise the memory addresses will be empty

[2021-11-04 11:04] #3902 closed

[2021-11-04 12:12] hagitsegev opened #4092 "Artifact test for AMI on Arm fails to run"
I tried to run artifact test on Arm:
https://jenkins.scylladb.com/view/nexts/job/scylla-master/job/releng-testing/job/artifacts/job/artifacts-ami-test/34/console
Instance type: c6gd.xlarge
AMI-ID: ami-03565db086c6fbaf2

It tries to install Scylla manager (which does not have an Arm build) and gets into an endless loop.

Is there a way to skip the manager? so I can run a test to see if there are mo

[2021-11-06 06:42] dkropachev opened #4096 "install_awscli_dependencies is not suited for ubuntu distro"
As result manager test can fail with :

[code]

[2021-11-07 15:51] yarongilor opened #4100 "send email pipeline fails: "Results file not found""
see in job:
https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-large-partition-asymmetric-cluster-3h/40/execution/node/217/log/

[2021-11-07 15:59] ShlomiBalalis commented on #2202
@roydahan I've never seen that happen again, and since no one else ever commented about it I assume no one else ever saw it either. I believe we can close it.

[2021-11-07 16:01] #2202 closed

[2021-11-07 16:25] yarongilor commented on #4100
@aleksbykov , can you please advise - is there a chance this is a known issue?
otherwise i'll start checking what went wrong.

[2021-11-08 08:06] yarongilor commented on #4100
@fgelcer , can this issue be related to change of https://github.com/scylladb/scylla-cluster-tests/pull/3987  ?

[2021-11-08 08:45] yarongilor commented on #4100
can it be related to a previous failure collecting sct log?
like in https://jenkins.scylladb.com/view/master/job/scylla-master/view/master-test/job/longevity/job/longevity-200gb-48h/147/execution/node/167/log/:
" 11:07:22  There are no logs collected for sct-runner "

[2021-11-09 15:14] fgelcer commented on #4100
@yarongilor , since #4104 was merged, check if this issue doesn't reproduce again, and close it please

[2021-11-09 16:11] vponomaryov opened #4111 "Failure saving logs to argus running with K8S backends"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: [branch or hash tag you are working on]
* **scylla**: [branch or commit hash]

### Logs
* test_id: 3910ec25-6a17-4f55-88aa-58c6c9a69637
* job log: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/valerii/job/vp-

[2021-11-09 17:08] yarongilor commented on #4100
waiting for 200gb 2d job to finish in order to verify.

[2021-11-10 11:13] yarongilor opened #4112 "Wrong Gemini Oracle version is reported in email: "Scylla v4.6.dev""
The Oracle AMI is of ScyllaDB 4.3.3, but reported as "Scylla v4.6.dev".

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211101.9e8fc6358 with build-id 62d8c292f9ddc15e61ebd6cd609ac91b80e1532a`
Cluster size: 3 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   gemini-1tb-10h-master-db-node-623da367-1 (16.170.157.59 | 10.0

[2021-11-10 12:07] roydahan commented on #4068
@dkropachev did you  get to the  bottom of this one?
the rolling upgrades are still failing.

[2021-11-11 07:10] dkropachev commented on #4068
No information yet, it is definitely SCT issue, but I could not find source of it right away.
Do I need to raise priority for the issue ?

[2021-11-11 13:16] vponomaryov commented on #4111
Was fixed here: https://github.com/bentsi/argus/commit/86d87c09

[2021-11-11 13:16] #4111 closed

[2021-11-11 16:12] roydahan commented on #4068
Please do.

[2021-11-11 17:49] dkropachev commented on #4096
fixed in #4097

[2021-11-11 17:49] #4096 closed

[2021-11-11 17:54] dkropachev commented on #4100
Fixed - https://github.com/scylladb/scylla-cluster-tests/pull/4115

[2021-11-11 17:59] dkropachev commented on #4068
Fixed at https://github.com/scylladb/scylla-cluster-tests/issues/4068

[2021-11-14 15:31] yarongilor commented on #3714
Issue is reproduced twice with cleanup nemesis in master. Not checked yet to see if it is a real issue or not.
[code]

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211107.4950ce539 with build-id 8d7a7f85964575a8775f8358cef3ff74141e07fd`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-

[2021-11-14 17:56] yarongilor opened #4126 "NodetoolRefresh nemesis fails with: "Resharding wasn't run on the node""
nodetool cleanup ran on node-2, then resharding did start and reported in node-2 log, yet nemesis failed with an error it didn't started.

[code]

error from nemesis log on runner:
[code]

Resharing start on node-2 log is:
[code]
perhaps we can try increasing the timeout. it may be missed by 1 second or something.

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git comm

[2021-11-14 17:59] dkropachev commented on #4126
Dup of https://github.com/scylladb/scylla-cluster-tests/issues/4025

[2021-11-14 17:59] #4126 closed

[2021-11-14 18:40] dkropachev commented on #4025
dab867d0-2b02-11ec-bc17-0981dea978ea - Log delivery delay (10h)

[code]

[2021-11-14 20:01] dkropachev commented on #4025
Sct stopped report node logs early on the run:

[code]

Also I see time in `longevity-200gb-48h-verify-limited--db-node-22e086a5-2` messages.log goes back and forth more than hundred times, which means there severe log [resending issue happening](https://github.com/scylladb/scylla-cluster-tests/issues/4088).

[2021-11-15 09:28] roydahan commented on #4025
@dkropachev, @bentsi , @fruch let’s discuss this issue and possible solutions.
We need to prioritize it very HIGH.

[2021-11-15 11:56] hagitsegev opened #4127 "Enable ARM artifact tests for 2021.1"
Need to merge/backport ARM artifact tests for 2021.1
I created the jobs on
https://jenkins.scylladb.com/view/nexts/job/enterprise-2021.1/job/artifacts/job/artifacts-ubuntu2004-arm-test/
and
https://jenkins.scylladb.com/view/nexts/job/enterprise-2021.1/job/artifacts/job/artifacts-centos8-arm-test/

[2021-11-15 14:57] yarongilor opened #4128 "hydra investigate show-monitor fails with Error message {"message":"Dashboard not found","status":"not-found"}"
16:49:36  >>> Run hydra command on the new SCT runner w/ public IP: 3.239.252.185
16:49:36
16:49:36  Running on Build Server...
16:49:37  Docker version 19.03.8, build afacb8b
16:49:37  Pull version v0.99 from Docker Hub...
16:49:37  v0.99: Pulling from scylladb/hydra
16:49:37  Digest: sha256:b12d4e4b0930947f5764ee0709b8a1daaeb0fd44ccfe4f7c8bbbb7ad8f57abfd
16:49:37  Status: Image is up to date for

[2021-11-15 14:59] yarongilor commented on #4128
@roydahan , can you please advise for anyone who can help with that?

[2021-11-15 15:41] dkropachev commented on #4128
@yarongilor , how to reproduce it ?

[2021-11-15 16:35] yarongilor commented on #4128
i do see a change from monitoring_data_stack_branch-3.6_4.4.tar.gz to monitoring_data_stack_branch-3.9_master.tar.gz
[code]
[code]

[2021-11-15 17:09] yarongilor commented on #4128
just run hydra investigate show-monitor with a recent job. or rerun this job: https://jenkins.scylladb.com/view/QA/job/QA-tools/job/hydra-show-monitor/27/

[2021-11-15 17:29] yarongilor commented on #3902
@ShlomiBalalis , can you please advice -
i see this error now in master 200gb longevity:
[code]
is it a different issue?

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211107.4950ce539 with build-id 8d7a7f85964575a8775f8358cef3ff74141e07fd`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200

[2021-11-16 10:17] yarongilor opened #4129 "artifacts docker test failed with argus_test_run.py, line 223, in from_sct_config region=regions[0] IndexError: list index out of range"
error log:
[code]

see full log in:
https://jenkins.scylladb.com/job/scylla-master/job/artifacts/job/artifacts-docker-test/356/execution/node/52/log/?consoleFull

Test details
Test: artifacts_test.ArtifactsTest.test_scylla_service
Build number: 356
Backend: docker
Kernel version: N/A
Test-id: c8ae408f-f891-468b-afad-11b9398a72d8
Start time: 2021-11-14 19:07:49
End time: 2021-11-14 19:11:00
Started

[2021-11-16 16:22] yarongilor opened #4130 ""Collect log data" pipeline step is aborted on timeout and sct.log file is not collected or uploaded"
This issue is encountered in sct master 50gb longevity that possibly had a big sct.log file.

pipeline error:
[code]

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211107.4950ce539 with build-id 8d7a7f85964575a8775f8358cef3ff74141e07fd`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50g

[2021-11-16 16:23] yarongilor commented on #4130
Cc: @dkropachev

[2021-11-16 17:52] yarongilor opened #4131 "Error of no-space-left-on-device is not filtered out after"
NodetoolEnospc started on node-9, but expected enospc errors were not filtered out during this disruption.
[code]

Got errors of:
[code]

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211107.4950ce539 with build-id 8d7a7f85964575a8775f8358cef3ff74141e07fd`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):

[2021-11-17 16:10] yarongilor opened #4133 "rolling-upgrade-alternator-test fails with: "Table usertable already exists""
Looks like Alternator "usertable" is tried to be created twice - a second time after the upgrade. probably should just skip the 'create-table' part for the second stress run.
got an error of:
[code]

Restore commands:
Restore Monitor Stack command: $ hydra investigate show-monitor fb3fa1a4-1393-4700-877b-30714521cf28
Restore monitor on AWS instance using Jenkins job
Show all stored logs command: $

[2021-11-17 16:13] yarongilor commented on #4133
@soyacz , would you like to check it out?

[2021-11-18 06:31] dkropachev commented on #4131
dup of https://github.com/scylladb/scylla-cluster-tests/issues/4088

[2021-11-18 06:31] #4131 closed

[2021-11-18 12:29] roydahan commented on #4133
How is it related to @soyacz ?
When did it start happening? Is it consistent on every run of this test?

I think @Orenef11 added this test, but it was long ago, so I don't understand why it started happening.

[2021-11-18 12:46] Orenef11 commented on #4133
Hi Roy,

Yes, I added it.
Do you want me to fix it?

On Thu, Nov 18, 2021 at 2:29 PM Roy Dahan ***@***.***> wrote:

[2021-11-18 12:54] roydahan commented on #4133
I don't know what's broken and why suddenly it fails.
Let's wait for answers from @yarongilor

[2021-11-18 12:55] yarongilor commented on #4133
@roydahan , looks like it was added in this PR: https://github.com/scylladb/scylla-cluster-tests/pull/3973

[2021-11-19 10:38] soyacz commented on #4133
In this PR I did some refactor and simplification - I should have moved this `pre_create_alternator_tables` out of running stress fuction. Will be fixed by @Orenef11 PR.

[2021-11-20 14:54] Orenef11 commented on #4133
Yes, my PR will fix it, and we will not get this error again.

[2021-11-21 15:09] roydahan opened #4141 "manager backup nemesis [timeout - 54000 seconds - expired]"
@ShlomiBalalis , can you please advice -
i see this error now in master 200gb longevity:
[code]
is it a different issue?

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.dev-0.20211107.4950ce539 with build-id 8d7a7f85964575a8775f8358cef3ff74141e07fd`
Cluster size: 4 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-200

[2021-11-21 16:11] #4133 closed

[2021-11-21 17:13] bentsi commented on #4129
This is the error that failed the test:
(look the message `TearDown is starting...`)
[code]
so this is not the root cause for the test failure
please investigate the issue

[2021-11-21 17:13] #4129 closed

[2021-11-22 16:21] ilya-rarov opened #4145 "rsyslog setup fails during OEL7 artifacts tests in master"
**Example:**
Failed build - [link](https://jenkins.scylladb.com/job/scylla-master/view/daily-master-artifact-tests/job/artifacts/job/artifacts-oel76-test/460/).
The test tried to execute the following shell command, but it failed
[code]
The output is:
[code]

[2021-11-22 18:47] roydahan commented on #4145
What does the systemctl contains?
Is it consistent on this platform or happened once?

[2021-11-23 12:43] juliayakovlev commented on #4141
Same problem here:

*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.7.dev-0.20211118.4b1bb26d5 with build-id 85eacde12729cd0333f0835d801a5a6163a01276`
Cluster size: 3 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-twcs-48h-master-db-node-74241d9e-1 (13.51.107.81 | 10.0.1.189): 8 shards
   longevity-twcs-48h-master-db-

[2021-11-24 10:58] ilya-rarov commented on #4145
This error occurs every build starting the 7th of November.
I haven't checked the systemctl yet.

[2021-11-25 10:32] ilya-rarov commented on #4145
We moved from rsyslog to syslog-ng ([here is the related PR](https://github.com/scylladb/scylla-cluster-tests/pull/4137)), so the issue is not relevant anymore.

[2021-11-25 10:32] #4145 closed

[2021-11-26 21:58] KnifeyMoloko opened #4165 "syslog-ng errors with destination queue full"
### Versions
* **SCT**: master
* Test: longevity_lwt_test.LWTLongevityTest.test_lwt_longevity
* Build number: 309
* Backend: aws: eu-north-1
* Kernel version: 5.4.0-1035-aws
* Test-id: dfee7085-39f4-4e8e-b5ca-b04b992b72a8
* Start time: 2021-11-26 14:41:35
* End time: 2021-11-26 18:10:33
* Started by user: timer
* Cassandra-stress uses shared-aware driver

### Logs
* test_id:  dfee7085-39f4-4e8e-b5

[2021-11-26 23:20] dkropachev commented on #4165
It is a log throttling, I have an idea how to work it around

[2021-11-29 13:54] fgelcer commented on #4130
@yarongilor , do you still see such thing happening?
if not, please close this issue, if you do see, write it in here, and we will need to get it prioritized

[2021-11-29 13:58] fgelcer opened #4174 "saving ES document throws an error, but do save the content"
### Versions
* **SCT**: branch-perf-v12
* **scylla**: master

### Logs
* test_id: 6590dc42-103d-47df-93ac-f7e1544af1ec
* job log: https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-latency-250gb-with-nemesis/131/

### Description

i'm seeing such failures for a while now, and before changing the `total_fields.limit` we see error events such as:
[code]

they happened i

[2021-11-29 13:58] fgelcer commented on #4174
@KnifeyMoloko FYI

[2021-11-29 13:58] fgelcer commented on #4174
@aleksbykov FYI

[2021-11-29 14:01] aleksbykov commented on #4174
@fgelcer it could be , that document is created with less number of fields, but with it is going to updated such error is happened.

[2021-11-29 14:29] fgelcer commented on #4174
so you think it saved up to 1000 fields, and than failed?
i have now increased these indexes so it won't be a problem anymore

[2021-11-29 15:43] aleksbykov commented on #4174
yes, i think so. because when we create document, it has set of predefined fileds. and then we update it with test_details and setup details. sections which has the largest number of fields

[2021-11-29 18:46] fgelcer commented on #4174
i have changed the limit in the indexes that are failing, and running the test again...
will report soon

[2021-11-30 07:26] yarongilor commented on #4130
not reproduced.

[2021-11-30 07:26] #4130 closed

[2021-11-30 12:58] soyacz opened #4178 "Error during Grafana screenshot creation"
During log collection, screenshots of Grafana was not taken. Errors in logs, were showing `unknown error: DevToolsActivePort file doesn't exist`
More detailed log trace:
[code]

later on:
[code]

Logs:
db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/4506f7c8-dbd4-4f2c-a880-9f467c5929af/20211125_190738/db-cluster-4506f7c8.tar.gz
loader-set - https://cloudius-jenkins-test.s3.amazonaws.co

[2021-12-01 14:31] benipeled opened #4181 "[artifacts-docker-test] failed with error about wrong mediaType on manifest file"
The `artifacts-docker-test` on 4.6 failed with the error below. The job run from `branch-4.6`
I'm not sure if it's a wrong image passed to this job or some other wrong param.

[code]

[2021-12-01 14:39] roydahan commented on #4181
@benipeled It looks like the problem is with the  docker itself, isn't it?

[2021-12-02 13:04] roydahan commented on #4181
@bentsi do you know what is the issue here?

[2021-12-02 16:06] ShlomiBalalis opened #4189 "scylla-driver in branch manager-2.6 seem to be out of date"
on 01/12 the following error appeared in 4 different manager jobs:
[code]
https://jenkins.scylladb.com/view/scylla-manager/job/manager-2.6/job/debian9-upgrade-test/8/
https://jenkins.scylladb.com/view/scylla-manager/job/manager-2.6/job/ubuntu16-upgrade-test/9/
https://jenkins.scylladb.com/view/scylla-manager/job/manager-2.6/job/ubuntu18-upgrade-test/9/
https://jenkins.scylladb.com/view/scylla-mana

[2021-12-03 10:14] soyacz commented on #4165
@dkropachev according to https://www.syslog-ng.com/community/b/blog/posts/common-syslog-ng-error-messages-solutions this can be avoided by setting `flags(flow-control)` in syslog-ng configuration. Do we set this? Can we?

[2021-12-03 12:43] dkropachev commented on #4165
@soyacz , we don't use it and probably should add it for minor cases, but it won't help in case of nodetool repair, since throttling is there quque gonna get full and you will see same messages.

[2021-12-04 09:37] soyacz commented on #4165
according to docs it should help - but may cause logs to arrive late, so again timestamps will be out of order.
I think as a quick fix we could just enable this setting in one PR and in another fix issue with throttling.

[2021-12-05 07:30] benipeled opened #4190 "artifacts-oel81-test fail on gathering the housekeeping uuid"
The `artifacts-oel81-test` job fail on [0], I haven't dig it in depth but seems like it somehow caused by https://github.com/scylladb/scylla-cluster-tests/commit/f9213568cb6466357e8f8a15db19e1d862b458d8
The fail is reproducible.

Once fixed, please rebase to 4.6

[0]
[code]

[2021-12-05 08:13] benipeled commented on #4181
It might be caused by an empty/wrong `SOURCE_IMAGE` variable required at the beginning of the build `scylla-sct:scylla-db-0f473d18` stage - WDYT?

[code]

[2021-12-05 10:57] yaronkaikov commented on #4127
@bentsi @roydahan Who can do this ?

[2021-12-05 20:05] fgelcer commented on #4190
@benipeled , could it be https://github.com/scylladb/scylla/issues/9683 ?

[2021-12-05 20:08] fgelcer commented on #4174
i have increased the limits in these indexes, and this error is not showing anymore.

[2021-12-05 20:08] #4174 closed

[2021-12-05 22:37] roydahan commented on #4165
@dkropachev is it again due to too many log messages during repair?
If so, do we have some kind of breakdown of what are the messages about?
Let's do it and open an issue in scylla for these unneeded verbosity.

[2021-12-05 22:41] roydahan commented on #4127
I can do it.
I'll try doing it in the next couple of days.

On Sun, Dec 5, 2021 at 12:57 PM Yaron Kaikov ***@***.***>
wrote:

[2021-12-06 07:58] benipeled commented on #4190
Yep
Duplicate of scylladb/scylla#9683

[2021-12-06 08:31] fgelcer commented on #4165
@dkropachev , what is the status of this one?

[2021-12-07 14:54] vponomaryov commented on #4128
It was fixed here: https://github.com/scylladb/scylla-cluster-tests/pull/4144
Closing it.

[2021-12-07 14:54] #4128 closed

[2021-12-07 14:57] #4021 closed

[2021-12-07 23:50] vponomaryov opened #4197 "User data for AWS VMs are provided in wrong format and cause incorrect setup of scylla cluster members"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.7.dev-0.20211126.44f4ea38c with build-id a88083cca1208179dd36a3847af403f77ad794f0

### Logs
* test_id: e165522a-c0f3-4abe-bb0a-c8234070c5d1
* job log: [[Failed CI job logs]](https://jenkins.scylladb.com/v

[2021-12-09 06:59] benipeled opened #4203 "[artifacts-ami-test] The test run on the master node which has no docker"
For some reason, the `artifacts-ami-test` (and others) running on the Jenkins master-node which has
no docker installed and it caused the error below,

I guess the tests themselves has nothing with the Jenkins master but the starting-point (`hydra.sh`) is
starting on Jenkins - and the question is why? if we have no good reason we should avoid running on
the master node.

It's reproducible.

**Note

[2021-12-09 07:02] fgelcer commented on #4203
why is it running on Jenkins mater? it shouldn't.

[2021-12-09 07:03] yaronkaikov commented on #4203
@benipeled Can you share one of the links?
is it in master branch or release?

[2021-12-09 07:05] benipeled commented on #4203
@fgelcer good question, that's probably the issue :)

@yaronkaikov good point, I can't see it on `master` but on 4.6 - see the last two runs on
https://jenkins.scylladb.com/job/scylla-4.6/job/artifacts/job/artifacts-ami-test/

[2021-12-09 07:09] yaronkaikov commented on #4203
@benipeled it's a pkg issue, we are missing a backport https://github.com/scylladb/scylla-pkg/commit/e16ab5d9d3bcb82896ffd051f7fa89294d2bb1a8  - will do it now

[2021-12-09 07:44] benipeled commented on #4203
cherry-picked - https://github.com/scylladb/scylla-pkg/commit/75d2c755baccb49358213466c5ad10ac89a806e0

[2021-12-09 07:44] #4203 closed

[2021-12-09 08:28] dkropachev commented on #4197
It was temporary issue on AWS, if you look at the provision step you will see that we submitted followin user-data:

[code]

Same user-data is reported in the logs:

[code]

While usually we are getting it decoded on scylla_image side.
I have also re-run the test and checked results there - user_data was decoded propery and script was executed.

So, most likely it was temporary issue on aws side.

[2021-12-09 08:28] #4197 closed

[2021-12-09 09:11] #4190 closed

[2021-12-10 10:51] vponomaryov opened #4205 "Running post configuration script fails on Scylla nodes added with grow_shrink_cluster nemesis"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master / 2c05a22
* **scylla**: `4.7.dev-0.20211126.44f4ea38c` with build-id `a88083cca1208179dd36a3847af403f77ad794f0`

### Logs
* test_id: c9a476f5-ee4a-4392-920a-3b6d9694a0c3
* job log: https://jenkins.scylladb.com/job/scylla

[2021-12-12 11:39] ShlomiBalalis commented on #4189
@dkropachev it still occurres in the tests, any news about it?

[2021-12-13 08:15] dkropachev commented on #4189
@ShlomiBalalis , all crucial patches to the driver where made and now we are working on publishing new version, when it is done we will switch it to 3.24.8

[2021-12-13 08:39] vponomaryov opened #4209 "SCT raises false error event not finding start of Scylla Server running on Scylla Cloud"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: any

### Logs
* test_id: aa248904-49f6-412f-bbf7-9ddb0e18c4e0
* job log: [[e.x. https://cloudius-jenkins-test.s3.amazonaws.com/5a2c3b72-40f8-4992-8b5a-5c4aec8bf0c6/job-2019-05-14T09.59-c85338a.zip]](https:/

[2021-12-13 11:54] soyacz opened #4211 "ResetLocalSchema nemesis fails due missing line in logs"
When running resetlocalschema nemesis, it fails with message `AssertionError: Schema version has not been recalculated`.
This happens because line containing `schema_tables - Schema version changed to` is not found.
While looking into messages.log we may find such a line, even in the same second as the error.

test_id: `36ad154f-65f1-43a6-a6d1-e40dcc5511cc`

 db-cluster  | https://cloudius-jenkins

[2021-12-13 12:22] dkropachev commented on #4211
I need test_id, link to logs

[2021-12-13 13:45] soyacz commented on #4211
@dkropachev sorry, issue updated.

[2021-12-13 14:18] dkropachev commented on #4209
Thanks Guys, addressed here - https://github.com/scylladb/scylla-cluster-tests/pull/4196

[2021-12-13 14:18] #4209 closed

[2021-12-13 14:23] ShlomiBalalis commented on #4209
@dkropachev Please make sure the fix will be backported to 4.6 as well

[2021-12-14 06:58] juliayakovlev commented on #4211
Message with pattern `schema_tables - Schema version changed to` appeared in the log later then really happened.

`nodetool  resetlocalschema`  started at `23:31:38,467` and finished at `23:31:39,472`:
[code]

But a message with the sought pattern arrived to the log latter, at `t:2021-12-08 23:31:39,686`:
[code]

So the nemesis failed, at `23:31:39,475`:
[code]

[2021-12-14 07:31] dkropachev commented on #4211
Thanks Julia

[2021-12-14 11:33] soyacz opened #4217 "Ignored error events are still reported"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master/ 4.6.rc1

### Logs
* test_id: fa0623fd-f5cd-47b1-8005-fc424c9ae054
Logs:
grafana - https://cloudius-jenkins-test.s3.amazonaws.com/fa0623fd-f5cd-47b1-8005-fc424c9ae054/20211209_214703/grafana-screenshot-gemini-1tb-10h-scy

[2021-12-14 21:59] roydahan commented on #4127
Done.

On Mon, Dec 6, 2021 at 12:41 AM Roy Dahan ***@***.***> wrote:

[2021-12-14 22:02] vponomaryov opened #4222 "dmesg logs are not gathered with "Operation not permitted" error"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.7-dev (current master)

### Logs
* test_id: a19ae2c2-7a94-4e96-b622-934ba00f5118
* job log: https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-100gb-4h-test/426

### De

[2021-12-15 08:03] juliayakovlev opened #4223 "C-s failed after TEST_END and fails the test unexpectedly"
Test: `cloud-longevity-small-data-set-1h-gcp`
Test name: `longevity_test.LongevityTest.test_custom_time`
Test config file(s):
- scylla_cloud_nemesis_small_set.yaml (Siren repo)
- scylla_cloud.yaml (Siren repo)

This c-s failure happens after `TEST_END`:
[code]

So it should not fail the test

Restore Monitor Stack command: `$ hydra investigate show-monitor 6d94093a-85f8-4bee-8f8f-156c3d113ec7`
Res

[2021-12-15 09:15] dkropachev commented on #4217
There is no such error reported:
[code]

Currently we ignore only 'No space left on device', so this error is rightfully leaking thru the filter.
I have created scylla issue to figure out whether it is legit scylla issue or we can just ignore it.

https://github.com/scylladb/scylla/issues/9798

[2021-12-15 09:18] dkropachev commented on #4100
Closed at https://github.com/scylladb/scylla-cluster-tests/pull/4104

[2021-12-15 09:18] #4100 closed

[2021-12-15 09:21] dkropachev commented on #4025
Addressed at series of latest PRs:
https://github.com/scylladb/scylla-cluster-tests/pull/4196
https://github.com/scylladb/scylla-cluster-tests/pull/4193
https://github.com/scylladb/scylla-cluster-tests/pull/4167
https://github.com/scylladb/scylla-cluster-tests/pull/4137

[2021-12-15 09:21] #4025 closed

[2021-12-15 09:23] dkropachev commented on #3942
Fixed at https://github.com/scylladb/scylla-cluster-tests/pull/3972

[2021-12-15 09:23] #3942 closed

[2021-12-15 09:24] dkropachev commented on #4068
Fixed at https://github.com/scylladb/scylla-cluster-tests/pull/4115

[2021-12-15 09:24] #4068 closed

[2021-12-15 09:25] dkropachev commented on #4088
Fixed by moving to syslog-ng

[2021-12-15 09:25] #4088 closed

[2021-12-15 09:39] dkropachev commented on #3582
Temporarily environmental issue.

[2021-12-15 09:39] #3582 closed

[2021-12-15 09:41] dkropachev commented on #3189
Problem is not reproducing lately

[2021-12-15 09:41] #3189 closed

[2021-12-15 10:54] enaydanov commented on #4217
Don't see filtered events in the error.log

[2021-12-15 11:17] dkropachev commented on #4217
Here is good example of the issue:

`11519ba5-9e2a-434a-8428-290775fc5d80`

db-cluster  | https://cloudius-jenkins-test.s3.amazonaws.com/11519ba5-9e2a-434a-8428-290775fc5d80/20211213_162937/db-cluster-11519ba5.tar.gz
monitor-set | https://cloudius-jenkins-test.s3.amazonaws.com/11519ba5-9e2a-434a-8428-290775fc5d80/20211213_162937/monitor-set-11519ba5.tar.gz
loader-set  | https://cloudius-jenkins-te

[2021-12-15 16:13] vponomaryov opened #4226 ""test run" stage times out with the "error waiting for container: unexpected EOF" error after a test finishes successfully"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.7-dev

### Logs
* test_id: ec558da6-f5f8-4978-abd3-214126b392c4
* job log: [[longevity-10gb-3h-test/405]](https://jenkins.scylladb.com/job/scylla-master/view/daily-master-longevity-tests/job/longevity/job

[2021-12-15 16:46] vponomaryov commented on #4226
One more CI run that times out (GCE): https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-10gb-3h-gce-test/105

[2021-12-15 20:29] fgelcer commented on #4217
why is it a node changing its seed status? do we have nemesis that plays with that?

[2021-12-16 07:01] enaydanov commented on #4217
Bentsi and I think that the node was not changed the seed status but it's the problem of sharing data between two processes inside SCT: main and DB logs reader.

[2021-12-16 07:59] dkropachev commented on #4217
@enaydanov , @bentsi , What is happening here is when we create db_log_reader process node is coppied into context of the child process and it keeps it's state unchanged during whole run.
At the time when it is happening is_seed is reporting Flase, because we did not set it's seed param yet.

Later on we change it's seed parameter and on the main process it is getting is_seed as True, while in db_

[2021-12-16 08:05] fgelcer commented on #4217
that would definitely work, if this is the problem

[2021-12-16 11:47] #4217 closed

[2021-12-16 12:27] vponomaryov opened #4230 "Regex for the resharding doesn't match master Scylla logs"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.7-dev

### Logs
* test_id: e79c455f-5ba7-4d17-a163-72c141f2c9c0
* job log: https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-10gb-3h-gce-test/105

### Description

Thi

[2021-12-16 13:02] vponomaryov opened #4231 "SCT tries to set wrong values for the 'preimage' option of the CDC feature"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.7-dev

### Logs
* test_id: 7f077019-93ef-4910-b789-0f102a00a321
* job log: https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-cdc-100gb-4h-test/303

### Description

Support of the

[2021-12-17 10:09] soyacz opened #4234 "longevity-large-partition-asymmetric-cluster-3h test fails on destroy data sometimes"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: branch-4.6
* **scylla**: 4.6.rc1

### Logs
* test_id: 8059573b-7bf8-400f-a21f-15d4833cf127
* grafana - https://cloudius-jenkins-test.s3.amazonaws.com/8059573b-7bf8-400f-a21f-15d4833cf127/20211216_205709/grafana-screenshot-longe

[2021-12-18 05:40] #4231 closed

[2021-12-19 11:39] roydahan commented on #4234
I agree that the nemesis shouldn't fail if it was able to delete at least one.
What happened after the deletion?
Was there an exception? the nemesis didn't continue to the rebuild part?

Also, do you know why there weren't at least 5 files? was it running too early in the test? (during prepare?)

[2021-12-19 14:02] roydahan commented on #4211
Is this one can be closed?

[2021-12-20 06:44] soyacz commented on #4234
after starting back scylla server, exception was raised and test stopped (so 'repair' part was skipped).

No, it wasn't run during prepare. Test failed twice when using that particular node only (on another one, this nemesis passed).
In my opinion (but I can be wrong) there's not too much data inserted (or doesn't distribute uniformly).

[2021-12-20 07:02] soyacz commented on #4211
this fix should help. Closing.

[2021-12-20 07:02] #4211 closed

[2021-12-20 19:36] roydahan opened #4241 "Scylla-bench - timeseries - The flags for "-start-timestamp=" and "-write-rate" aren't correctly set"
https://github.com/scylladb/scylla-cluster-tests/blob/0ea054e4588330b35a31dbda7336cd9705860b56/sdcm/scylla_bench_thread.py#L135

In this code above, we try to calculate the time for the "start-timestamp" (with weird 480 number that I don't know where it comes from.

According to scylla-bench README and some tests I did, we should take these parameters from the output printed by the WRITE COMMAND.

[2021-12-21 13:24] roydahan commented on #4241
This should be integrated with PR https://github.com/scylladb/scylla-cluster-tests/pull/4247

[2021-12-21 14:34] soyacz opened #4248 "StartStopScrubCompaction fails on waiting for compactions to settle down"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**:  - branch-4.6
* **scylla**:  4.6.rc0

### Logs
+-----------------------------------------------------------------------------------------------------------------------------------------------+
|

[2021-12-21 16:03] fgelcer opened #4249 "Test is stuck after teardown completed and at the end was killed by jenkins with "error waiting for container: unexpected EOF""
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.rc1-0.20211208.542394c82 with build-id 96acb395cfbc08ffdc30ac34e1333b99d93b83d7`
Cluster size: 5 nodes (i3en.3xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-2tb-4d-1dis-2nondis-4-db-node-a5420a05-2 (54.220.72.97 | 10.0.2.199): 12 shards
   longevity-tls-2tb-4d-1dis-2nondis-4-

[2021-12-21 16:04] fgelcer commented on #4249
this test had in total of 84 critical events

[2021-12-21 17:33] roydahan commented on #4241
@aleksbykov please also take care of setting pre_create_table for the scylla-bench TWCS.
Currently it has:
[code]
We need to set values that makes more sense in our tests.
For example, in the 3h test to set a "1 minute" compaction_window_size might make sense, and default_time_to_live of 900 (seconds) also may be ok, but then the "gc_grace_seconds" doesn't make much sense (IIRC it's TTL + grace ti

[2021-12-22 03:21] #4230 closed

[2021-12-22 03:34] roydahan commented on #4234
It doesn't sound related.
Please add the relevant part of the logs here.

[2021-12-22 03:43] roydahan opened #4250 "Oracle cluster has more data than the test one after the reshape of 63GB which took 502 seconds"
@vponomaryov commented on [Thu Dec 16 2021](https://github.com/scylladb/scylla/issues/9814)

_Installation details_
Kernel version: `5.11.0-1022-aws`
Scylla version (or git commit hash): `4.7.dev-0.20211215.3ac622bdd with build-id c19c7740f10f82f554c1b67da69f82fc48f9386f`
Cluster size: 3 nodes (i3.large)
OS (RHEL/CentOS/Ubuntu/AWS AMI): `ami-045cd00d68f3af143` (eu-north-1)

Scylla running with sha

[2021-12-22 07:47] soyacz commented on #4234
from events:
[code]
and related parts from log:
[code]
so after this exception nemesis ends without starting repair.

[2021-12-22 10:34] dkropachev opened #4252 "delete_automatic_repair_task is failing with `get resource: load task "00000000-0000-0000-0000-000000000000": not found`"
[code]

[2021-12-22 14:46] ilya-rarov opened #4257 "Rolling upgrade failed on Ubuntu 18.04 trying to install and set up syslog-ng"
### Logs
* test_id: fe4b3402-bd20-4317-9016-5e3ae0ffcbdb
* build: https://jenkins.scylladb.com/view/master/job/scylla-master/job/rolling-upgrade/job/rolling-upgrade-ubuntu18.04-test/161/
* cluster log: https://cloudius-jenkins-test.s3.amazonaws.com/fe4b3402-bd20-4317-9016-5e3ae0ffcbdb/20211217_045518/db-cluster-fe4b3402.tar.gz
* SCT log: https://cloudius-jenkins-test.s3.amazonaws.com/fe4b3402-bd20

[2021-12-23 15:36] roydahan commented on #4252
@ShlomiBalalis is it something new in manager?

@dkropachev which job  is it?

[2021-12-23 17:46] roydahan commented on #4252
I'm going to change SCT master tests to use the latest released manager version, this issue is relevant to manager master which will be tested only in manager master branch.

[2021-12-23 17:56] dkropachev commented on #4252
Test-id: 1463ea98-e1db-4167-b8fd-7824f63a2be4

db-cluster - https://cloudius-jenkins-test.s3.amazonaws.com/1463ea98-e1db-4167-b8fd-7824f63a2be4/20211221_134147/db-cluster-1463ea98.tar.gz
loader-set - https://cloudius-jenkins-test.s3.amazonaws.com/1463ea98-e1db-4167-b8fd-7824f63a2be4/20211221_134147/loader-set-1463ea98.tar.gz
monitor-set - https://cloudius-jenkins-test.s3.amazonaws.com/1463ea98-e1d

[2021-12-23 18:48] roydahan opened #4261 "Longevity-lwt-3h tried only one nemesis and didn't progress"
In job: "scylla-master/longevity/longevity-lwt-3h-test#312: 2021-12-22 09:35:39" the test chose the first nemesis (LdapConnectionToggle) and started it at 10:18:44,357.
The nemesis should have been skipped because it's not an enterprise release, but it didn't progress at all and the next nemesis never started.

From sct.log:
[code]

If this issue repeats in next runs, it should be handled with hig

[2021-12-23 18:57] roydahan opened #4262 "AddRemoveDC nemesis (new nemesis) - Failed with traceback - couldn't find db log of node"
During job scylla-master/longevity/longevity-alternator-3h-test#327: 2021-12-22 09:46:33.

[code]

[2021-12-23 18:58] roydahan commented on #4262
Since it's a new nemesis without proven record of runs, I assign to its author automatically - @soyacz .

[2021-12-23 20:12] KnifeyMoloko opened #4263 "RestartWithResharding timing out in longevity-twcs-48h-test even though restart gets completed"
*Installation details*
Kernel version: `5.11.0-1022-aws`
Scylla version (or git commit hash): `4.7.dev-0.20211215.3ac622bdd with build-id c19c7740f10f82f554c1b67da69f82fc48f9386f`
Cluster size: 3 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-twcs-48h-master-db-node-5173a730-1 (54.246.11.85 | 10.0.3.32): 8 shards
   longevity-twcs-48h-master-db-node-5173a730-2 (54.

[2021-12-23 20:18] roydahan commented on #4261
@fgelcer since you added this nemesis, you won the issue.
I re-ran the job and it's still stuck on this nemesis, please look into it and send a fix:
https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-lwt-3h-test/313/

[2021-12-23 20:24] fgelcer commented on #4261
@roydahan , LDAP shouldn't run for OSS (support only for enterprise).

[2021-12-24 07:38] soyacz commented on #4262
@dkropachev isn't it related to syslog-ng? Can you check if it works properly when new node in new dc is created?

[2021-12-26 09:23] Orenef11 commented on #4252
happened again
I think the command was changed from `delete` to ` stop --delete`
https://github.com/scylladb/scylla-cluster-tests/pull/4268

Restore Monitor Stack command: `$ hydra investigate show-monitor 21bf62d0-29de-4108-a20c-9c0aeabfd17a`
Show all stored logs command: `$ hydra investigate show-logs 21bf62d0-29de-4108-a20c-9c0aeabfd17a`

Test id: `21bf62d0-29de-4108-a20c-9c0aeabfd17a`

Logs:
g

[2021-12-26 13:24] Orenef11 commented on #4262
@roydahan
happen for  `DecommissionStreamingErr` nemesis
[code]

test-id: `6b6e1fda-a66d-452a-a460-2ed2e8033ccf`

[2021-12-27 14:48] bentsi commented on #4165
@roydahan this was caused by Scylla, since it creates too many logs when repair/compaction happens. Dmitriy opened an issue
in the Scylla repo: https://github.com/scylladb/scylla/issues/9820

[2021-12-27 15:35] yaronkaikov opened #4272 "artifacts failed to install scylla-manager"
Following the changes made in https://github.com/scylladb/scylla-cluster-tests/pull/4264 artifacts now failing to install manager. Probably related to the GPG key change in master which doesn't match what we have in manager-2.5

[2021-12-27 15:36] yaronkaikov commented on #4272
/cc @roydahan @Orenef11 @fruch @bentsi

[2021-12-27 17:02] #4272 closed

[2021-12-30 09:47] #2532 closed

[2021-12-30 09:51] dkropachev commented on #4249
This problem become more common recently, there is no clear reason for it.
I've investigated a run that have had same issue, but there was literally zero threads/processes at the end test.

Threading exit hook is not a reason.

[2021-12-30 09:51] dkropachev commented on #4226
Dup of https://github.com/scylladb/scylla-cluster-tests/issues/4249

[2021-12-30 09:51] #4226 closed

[2021-12-30 10:52] vponomaryov commented on #4226
I don't mind getting it closed as duplicate, but note that this issue is 6 days older than the referenced one.

[2021-12-30 12:03] dkropachev commented on #4226
Agree it is strange, but task in trello that I had is referring taht issue, that is why I picked it.

[2021-12-30 13:37] Orenef11 opened #4279 "compute_engine.list_nodes() failed because of ". Please try again or contact Google Support" errir"
08:33:23    File "/jenkins/slave/workspace/scylla-master/artifacts/artifacts-gce-image-test/scylla-cluster-tests/sdcm/utils/common.py", line 834, in list_instances_gce
08:33:23      all_gce_instances = compute_engine.list_nodes()
08:33:23    File "/usr/local/lib/python3.10/site-packages/libcloud/compute/drivers/gce.py", line 2607, in list_nodes
08:33:23      self._ex_populate_volume_dict()
08:33:2

[2021-12-30 13:38] Orenef11 commented on #4279
Do you see this bug in the past?

[2021-12-30 16:11] roydahan commented on #4279
No, but it's probably a temporary issue.
Did you try again?

[2022-01-02 08:19] Orenef11 commented on #4279
Yes, it was a temporary issue.
The second run was passed.

[2022-01-03 10:28] #4189 closed

[2022-01-04 08:06] yaronkaikov opened #4288 "[artifacts-centos8-arm]: Failing due to hard coded manager version which doesn't support arm"
In 2021.1.8 we added arm support, since SCT are using manager 2.3 for this version those arm based artifacts are failig

https://jenkins.scylladb.com/job/enterprise-2021.1/job/artifacts/job/artifacts-centos8-arm-test/8/console

[2022-01-04 08:06] yaronkaikov commented on #4288
/cc @fruch @roydahan @bentsi

[2022-01-04 08:31] fgelcer commented on #4288
@yaronkaikov , from which version of the manager ARM is supported?

[2022-01-04 08:31] Orenef11 commented on #4288
The run failed because of:
[code]

[2022-01-04 08:32] yaronkaikov commented on #4288
@fgelcer 2.6

[2022-01-05 08:09] fruch commented on #1299
Happens again on a few jobs at the same time:

https://jenkins.scylladb.com/job/manager-2.6/job/centos-sanity-test/30

[2022-01-05 08:09] fruch commented on #1299
Sounds to me like an issue with spot creation in AWS, that we aren't dealing very good.

[2022-01-05 13:12] fruch commented on #1299
happened again today:
this is the error on the ec2 console:
`Server.InternalError: Internal error on launch`

[2022-01-06 12:32] ShlomiBalalis opened #4300 "AddRemoveDc caused a cassandra stress timeout"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: master

* test_id: e3f95d0c-bd9d-4e68-887e-3fb2374c597a
* https://jenkins.scylladb.com/view/master/job/scylla-master/job/longevity/job/longevity-200gb-48h/158/
* Logs:
[code]

### Description

At `2021-12-3

[2022-01-06 16:20] ShlomiBalalis opened #4301 "Nodetool decommission fails with no explanation 4 seconds after executions"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: master

### Logs
* test_id: 179db65e-1f8e-4725-b90c-0fd4151a88bc
[code]
https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-50gb-3days/117/

### Description

At `2021-12-31 16:03:50.8

[2022-01-06 19:10] fgelcer commented on #4301
was there any message in the target node? maybe it crashed?

[2022-01-09 10:06] ShlomiBalalis commented on #4301
Nope. From the node's POV, the decommission process continued naturally, which what led me to believe the issue is on sct's side.

[2022-01-09 10:10] fgelcer commented on #4301
AFAICT `Exit code = -1` means the running command finished unexpectedly (crashed or was killed)

[2022-01-10 09:22] ShlomiBalalis commented on #4301
I'm pretty sure it means ssh connection failure?

[2022-01-10 09:45] yarongilor opened #4304 "Full-scan thread with a random table choise fails where not tables created yet"
Got an error of:
[code]

full log of still running test is:
https://jenkins.scylladb.com/job/scylla-4.6/job/SCT-Reproducers/job/longevity-50gb-3days-test-repro-9621/4/execution/node/142/log/

[2022-01-10 14:29] yarongilor opened #4306 "run_fullscan parameter new format is not updated and fails"
fails with:
[code]
full log in:
https://jenkins.scylladb.com/view/scylla-4.6/job/scylla-4.6/job/longevity/view/Long%20Longevities/job/longevity-mv-si-4days-test/4/execution/node/142/log/

[2022-01-10 18:24] #4304 closed

[2022-01-10 18:24] #4306 closed

[2022-01-10 23:19] fgelcer opened #4308 "sed: can't read /etc/syslog-ng/syslog-ng.conf: No such file or directory"
test is [rolling upgrade](https://jenkins.scylladb.com/view/scylla-4.6/job/scylla-4.6/job/rolling-upgrade/view/test/job/rolling-upgrade-ubuntu18.04-test/11/)

the failure is:
[code]

[2022-01-11 08:20] soyacz commented on #4300
@ShlomiBalalis I don't see the problem with this nemesis. For me it looks like some bug in Scylla. Similar to: https://github.com/scylladb/scylla-manager/issues/2830
In loader logs, errors starts at `17:00:17.123`, so there is like 3 minutes delay between logs in sct and loader logs.
Also I've looked at db logs - strangely, at given times, there's no information about repair happening in nodes 1 a

[2022-01-11 08:48] juliayakovlev opened #4309 "Test wasn't stopped on CRITICAL error"
### Prerequisites

* [ ] Are you rebased to master ?
* [ ] Is it reproducible ?
* [ ] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: 1dd4a9eb1344d293aee8ef112ace9668b317ea89  (origin/master)
* **scylla**: 4.7.dev-0.20211230.12fa68fe6

### Logs
* test_id: 68ecb53d-0c54-4e72-ae4a-ffd15a815530
* job log:  https://cloudius-jenkins-test.s3.amazonaws.com/68ecb53d-

[2022-01-11 09:14] dkropachev commented on #4309
This is different from https://github.com/scylladb/scylla-cluster-tests/issues/4249, since teardown did not even started.
The reason is that we raise Exception in the event handler to stop the test, as python is taking this Exception and throw it at the current execution point of the MainThread.
So the problem is that if currect execution point in the MainThread is running inside try:.. except: ..

[2022-01-11 12:24] Orenef11 opened #4311 "Is it reproducible ?"

[2022-01-11 12:24] #4311 closed

[2022-01-11 12:27] Orenef11 commented on #4311
It was opened by mistake.

[2022-01-11 12:33] dkropachev commented on #4300
This is not scylla issue, this is result of the following:

[code]

Which is result of garbage licking out thru `get_nodetool_status`

[2022-01-11 13:46] soyacz commented on #4300
Thanks @dkropachev, this is very helpful, now I see the issue. But strange it passed verification of scylla

[2022-01-11 14:30] fruch commented on #4300
I thought they remove those prints, as part of fixing:
https://github.com/scylladb/scylla-tools-java/issues/213

[2022-01-11 15:05] soyacz commented on #4300
My investigation led to conclusion, that when e.g. system_traces keyspace is using SimpleStrategy and we switch it to NetworkStrategy with changed replication factor, then we must do full repair (like stated in https://docs.scylladb.com/operating-scylla/procedures/cluster-management/update-topology-strategy-from-simple-to-network/#nodes-are-on-different-racks), which nemesis is not doing. Fixing.

[2022-01-12 12:36] roydahan commented on #4301
It's something related to SSH connection failure, but we need to understand where the failure is coming from.
It can be related to fabric or it can be related to kernel issue on the db node side.

[2022-01-12 12:37] roydahan commented on #4301
I opened related issue in scylla - https://github.com/scylladb/scylla/issues/9901

[2022-01-12 13:08] bentsi commented on #4301
looks like SSH issue:
[code]

not sure  how (maybe it's related)
there were reactor stalls and empty  "kernel stack messages"

[code]

[2022-01-12 14:27] fgelcer commented on #4301
i saw it on `test_id: 0cc17cf2-52e9-4433-ace9-178a589ef120` for `nodetool drain`

[2022-01-12 15:02] #4309 closed

[2022-01-12 19:19] roydahan commented on #4301
I see that others suffer from it: https://github.com/aws/amazon-ssm-agent/issues/274

[2022-01-13 16:34] yarongilor opened #4320 "The nemesis of delete-range-in-few-partitions fails: "object index out of range""
error:
[code]

it might be related to merged reversed-queries PR and may be changed by the mergin of open PR: https://github.com/scylladb/scylla-cluster-tests/pull/4274

Test is running in:
https://jenkins.scylladb.com/view/scylla-4.6/job/scylla-4.6/job/longevity/view/Long%20Longevities/job/longevity-large-partition-200k-pks-4days-test/5/

[2022-01-13 17:30] yarongilor commented on #4262
May also reproduced in 200k-pk-4d longevity 4.6.rc2 running test:
[code]
running in: https://jenkins.scylladb.com/view/scylla-4.6/job/scylla-4.6/job/longevity/view/Long%20Longevities/job/longevity-large-partition-200k-pks-4days-test/5/

[2022-01-14 16:44] #4262 closed

[2022-01-14 17:26] dkropachev commented on #4308
Fixed by https://github.com/scylladb/scylla-cluster-tests/pull/4281

[2022-01-14 17:26] #4308 closed

[2022-01-14 17:27] dkropachev commented on #4257
fixed at https://github.com/scylladb/scylla-cluster-tests/pull/4281

[2022-01-14 17:27] #4257 closed

[2022-01-14 17:27] dkropachev commented on #4205
Fixed at https://github.com/scylladb/scylla-cluster-tests/pull/4281

[2022-01-14 17:27] #4205 closed

[2022-01-14 17:29] dkropachev commented on #3715
That is expected behavior to do not see core during enospc.

[2022-01-14 17:32] dkropachev commented on #4092
fixed

[2022-01-14 17:32] #4092 closed

[2022-01-15 00:15] vponomaryov opened #4329 "Failed `nodetool cleanup` nemesis is considered as passed"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.5.3

### Logs
* test_id: bdf64109-f68f-4d69-90af-7b49ca9fd5cc
* job log: https://jenkins.scylladb.com/view/staging/job/scylla-staging/job/valerii/job/longevity-scylla-operator-large-collections-12h/12

##

[2022-01-15 20:27] fgelcer commented on #4320
why would `clustering_keys` be an empty string?

[2022-01-16 06:08] fruch commented on #3715
Don't know if to call expected behavior, it a known issue in SCT, that never got fixed

[2022-01-16 07:48] fgelcer commented on #3715
the only way to get it dumped is to have an external disk used only for this function, so once there is a core dump, it will have a free disk to do it... but it has other implications and challenges... so i agree with @fruch , it is a known issue more than expected behavior..

[2022-01-16 09:12] yarongilor opened #4331 "Nemesis: The add-new-node operation completion is verified by nodetool status and not by node-init-complation"
See details in:
https://github.com/scylladb/scylla/issues/9629#issuecomment-998926636
As in the above link example:

1. A replace node nemesis adds a new node.
2. SCT check for nodetool status of the newly added node to be "UN"
3. The replace nemesis completed (and another nemesis can start)
4. The new node actual init is completed only later on (can take an hour)
5. Thus it prevents and may fail

[2022-01-16 10:13] yarongilor commented on #4331
Consider opening a nodetool issue for this as well: "nodetool status " command should not show an initializing node as "UN" but rather as "UJ" or any other relevant alternative.

[2022-01-16 10:49] fruch commented on #4261
happens again in https://jenkins.scylladb.com/job/scylla-master/job/longevity/job/longevity-lwt-3h-test/322

[2022-01-16 12:20] roydahan commented on #4261
@fgelcer please check it.

[2022-01-16 13:09] fgelcer opened #4333 "SisyphusMonkey failing in long run - `IndexError: pop from empty list`"
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.rc2-0.20220102.e8a1cfb6f with build-id 5d7b96e39c909424e8224207a162fc2c82b67214`
Cluster size: 6 nodes (i3.2xlarge)
Scylla running with shards number (live nodes):
   longevity-200gb-48h-network-4-6-db-node-2a9bb634-1 (63.35.146.122 | 10.0.3.69): 8 shards
   longevity-200gb-48h-network-4-6-db-node-2a9

[2022-01-16 13:14] fruch commented on #4333
`disruptions_list` should be a cycle
[code]

[2022-01-16 14:34] roydahan commented on #4333
Did the stack of nemesis really was empty?
Need to check the log.

[2022-01-16 14:35] fgelcer commented on #4333
it is a job that is filtering nemesis with `nemesis_include_filter: ['networking']`, so probably it did multiple cycles (it is supposed to be a 48h job)...
logs are attached

[2022-01-16 14:41] fruch commented on #4333
`is not None` doesn't cover empty lists, i.e. the logic here should be `if self.disruptions_list`

[code]

[2022-01-16 14:41] roydahan commented on #4333
We probably also need to add here a higher multiply factor.

[2022-01-16 14:49] fgelcer commented on #4261
apparently, it seems to be doing the right thing:
[code]

exactly like in this [line](https://github.com/scylladb/scylla-cluster-tests/blob/01acd2bd5504ef5441f72df3e87f2d2c578da82f/sdcm/nemesis.py#L818)

now, might be something with Sisyphus monkey?
the `disrupt_ldap_connection_toggle` is the 1st nemesis in the list, but after it was skipped, why didn't the next one (`disrupt_mgmt_repair_cli`) was

[2022-01-16 16:07] roydahan commented on #4261
Check the sct.log.
If it reaches back to Sisyphus it should pop the next one.
We have other examples where nemesis skipped with Sisyphus.

[2022-01-16 18:05] roydahan commented on #4333
Yes, already saw it.

[2022-01-16 18:59] fgelcer commented on #4261
grepping `sct.log`... the 1st nemesis wasn't supposed to be the LDAP one...

< t:2022-01-16 04:09:23,256 f:sct_config.py   l:1524 c:sdcm.sct_config      p:INFO  > nemesis_class_name: SisyphusMonkey
< t:2022-01-16 04:32:50,942 f:nemesis.py      l:1252 c:sdcm.nemesis         p:DEBUG > sdcm.nemesis.SisyphusMonkey: This is the list of callable disruptions [<bound method Nemesis.disrupt_abort_repair of

[2022-01-16 19:00] fgelcer commented on #4261
@roydahan , seems like a bug in the nemesis thread when selecting the nemesis from the pre-created list

[2022-01-16 20:02] roydahan commented on #4261
nemesis stack AFTER SHUFFLE is [<bound method Nemesis.disrupt_ldap_connection_toggle of <sdcm.nemesis.SisyphusMonkey object at 0x7fd6d6bd2a10>>, <bound method Nemesis.disrupt_mgmt_repair_cli of <sdcm.nemesis.SisyphusMonkey object at 0x7fd6d6bd2a10>>, <bound method Nemesis.disrupt_ldap_connection_toggle of <sdcm.nemesis.SisyphusMonkey object at 0x7fd6d6bd2a10>>, <bound method Nemesis.disrupt_toggle

[2022-01-16 20:03] roydahan commented on #4261
sdcm.nemesis.SisyphusMonkey: Selecting the next nemesis out of stack [<bound method Nemesis.disrupt_ldap_connection_toggle of <sdcm.nemesis.SisyphusMonkey object at 0x7fd6d6bd2a10>>, <bound method Nemesis.disrupt_mgmt_repair_cli of <sdcm.nemesis.SisyphusMonkey object at 0x7fd6d6bd2a10>>, <bound method Nemesis.disrupt_ldap_connection_toggle of <sdcm.nemesis.SisyphusMonkey object at 0x7fd6d6bd2a10>>

[2022-01-17 06:29] dkropachev commented on #3715
What we can do is to stream cores to s3 via curl and pick them up form there

[2022-01-17 07:55] fgelcer commented on #3715
is the OS able to stream to S3 instead of dumping it to disk?

[2022-01-17 09:13] fruch commented on #3715
something like this:
https://gist.github.com/hashbrowncipher/57dd3a52103cae02290ac65fae9f3422

[2022-01-17 13:49] roydahan commented on #4331
Please consult with @slivne on the expected behaviour.

[2022-01-17 15:58] KnifeyMoloko opened #4341 "NodetoolRefresh and RestartWithResharding fail with "Resharding wasn't run on the node""
*Installation details*
Kernel version: `5.4.0-1035-aws`
Scylla version (or git commit hash): `4.6.rc2-0.20220102.e8a1cfb6f with build-id 5d7b96e39c909424e8224207a162fc2c82b67214`
Cluster size: 6 nodes (i3.4xlarge)
Scylla running with shards number (live nodes):
   longevity-tls-50gb-3d-4-6-db-node-af434415-1 (34.253.205.133 | 10.0.0.124): 14 shards
    List of nodes is larger than 10. See sct log

[2022-01-17 16:18] roydahan commented on #4341
@juliayakovlev is it known issue?

[2022-01-17 16:49] juliayakovlev commented on #4341
This issue happens from time to time. Unfortunatelly the sct.log was not uploaded and SCT runner is not available. So I can't check it

[2022-01-18 17:13] roydahan commented on #4261
@fgelcer the ball back to you.

[2022-01-19 11:19] fruch opened #4357 "Mocked test on PR failing (unable to load certificate)"
I've seen it a few time on SCT PRs that the mocked tests are failing with the following
[code]

https://jenkins.scylladb.com/job/sct-github-PRs-scan/job/scylla-cluster-tests/job/PR-4351/3/execution/node/51/log/

[2022-01-19 11:54] dkropachev opened #4358 "Add remove DC nemesis new node status is UJ"
**Installation details**
Scylla version (or git commit hash): 4.7.dev with build-id 8bcd23fa0

Cluster size: 4 nodes (i3en.2xlarge)

Scylla running with shards number (live nodes):

longevity-twcs-48h-master-db-node-860131e4-1 (63.35.237.128 | 10.0.0.23)
longevity-twcs-48h-master-db-node-860131e4-2 (34.253.180.241 | 10.0.0.56)
longevity-twcs-48h-master-db-node-860131e4-4 (34.245.88.221 | 10.0.2.17

[2022-01-19 13:48] soyacz commented on #4358
Possible cause: only system tables replication strategy was changed to Network, causing streaming of all user keyspaces to new node. Due high volume, node didn't show up as UN for more than 900s (timeout).
I'll test this hyphotesis and provide a fix.

[2022-01-20 08:44] dkropachev opened #4362 "Jepsen run on master ends up with 'Repository content has invalid line'"
https://jenkins.scylladb.com/view/master/job/scylla-master/job/jepsen/job/jepsen-test-all/85/execution/node/110/log/

[code]

[2022-01-20 08:57] enaydanov commented on #4357
Yeah, I saw this one time. But it was not reproduced on re-run. Need to collect more info about it.

[2022-01-20 09:33] enaydanov commented on #4357
We got it again and I was able to identify the root cause: it's a timing issue, and can be solved by adding some sleep before we try to use mock server.

It failed to read SSL certificate here:

https://github.com/scylladb/scylla-cluster-tests/blob/0059b0a2f7993792d67bb757fa12c1fd96789842/docker/env/hydra.sh#L333-L335

`openssl s_client ...` command failed and produced empty output which can't be

[2022-01-20 09:39] fruch commented on #4357
I don't care adding that

but why in the first place we are mocking setup in `hydra.sh` to begin with ? can't we do that as part of the test themselves ? the whole setup of them ?

[2022-01-20 10:05] enaydanov commented on #4357
There are 2 reasons:
1. We need to modify certifi's CA bundle before any Python code loads this module, so, it's better to do outside the Python code
2. We need to add lines to `/etc/hosts` and it's easier to do using docker's `--add-host` parameter.

[2022-01-20 10:13] #4357 closed

[2022-01-20 13:55] roydahan commented on #4362
Isn't it a releng issue?

[2022-01-20 14:45] bentsi commented on #4362
not sure, it happens when setting up loader node. Evgeniy will check it

[2022-01-23 13:01] #4362 closed

[2022-01-24 08:39] soyacz opened #4370 "Performance jobs select ARM AMI's for i3 instances"
Performance test jobs select ARM based AMI's, while using i3 instances - causing error:
```RunInstances operation: The i3.4xlarge instance type does not support an AMI with a boot mode of UEFI. Only instance types built on the Nitro System support UEFI. Specify an instance type that supports UEFI, and try again.```

Fix requires backporting to `branch-perf-v8`, `branch-perf-v11`,  `branch-perf-v10

[2022-01-24 08:50] dkropachev commented on #4370
@roydahan , could you please approve it.

[2022-01-24 10:39] fruch commented on #4370
I've cherry-picked fixes to those branches:
branch-perf-v8, branch-perf-v11, branch-perf-v10, branch-perf-v12

where did you found that branch used from @aleksbykov own fork ? we shouldn't be using private forks on those jobs.

[2022-01-24 11:01] aleksbykov commented on #4370
@soyacz which job has my branch?

[2022-01-24 11:09] fruch commented on #4370
@soyacz mentioned `wait-create-es-doc`, I don't know why...

[2022-01-24 12:33] soyacz commented on #4370
see job: https://jenkins.scylladb.com/job/scylla-master/view/master-weekly-performance-tests/job/scylla-master-perf-regression-cdc-test-latency/configure

[2022-01-24 12:40] fruch opened #4373 "Getting preempted notification failing in GCE"
[code]

on the same time we get `Powering Off...`:
[code]

### Test information

Test: upgrade_test.UpgradeTest.test_rolling_upgrade
Build number: 12
Backend: gce: eu-west-1
Kernel version: N/A
Test-id: 11060963-8ae6-4743-8ba8-403c1e36fbc0
Start time: 2022-01-24 01:40:53
End time: 2022-01-24 05:53:39
Started by user: yaronkaikov
System under test
ScyllaDB version: N/A (-)
Target ScyllaDB repo: htt

[2022-01-24 12:50] fruch commented on #4373
maybe we should use etags ?
https://cloud.google.com/compute/docs/metadata/querying-metadata#etags

[2022-01-24 13:25] fruch commented on #4370
@aleksbykov please change it back to the correct perf branch needed for this job

[2022-01-24 13:25] #4370 closed

[2022-01-24 13:28] aleksbykov commented on #4370
@fruch @soyacz , yes already set right branch

[2022-01-24 17:45] vponomaryov opened #4374 "scylla-bench installation fails on K8S: unzip: command not found"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: any

### Logs
* test_id: 194782b7-912f-49e2-aebd-ab026ccb4fb0
* job log: https://jenkins.scylladb.com/view/scylla-operator/job/scylla-operator/job/operator-1.7/job/eks/job/longevity-scylla-operator-twcs-48h

[2022-01-25 12:53] soyacz opened #4376 "Perf test email not sent due attachment size"
Perf test: https://jenkins.scylladb.com/job/scylla-master/job/scylla-master-perf-regression-latency-250gb-with-nemesis/167
(branch `branch-perf-v12`)

Failed to send results email due to:
[code]

[2022-01-25 12:59] soyacz commented on #4376
maybe we should post these attachments to s3 and just provide link in email?

[2022-01-25 16:02] vponomaryov commented on #4374
After installation of the missing package, it fails with the following error:

[code]

CI job link: https://jenkins.scylladb.com/view/scylla-operator/job/scylla-operator/job/operator-1.7/job/eks/job/longevity-scylla-operator-twcs-48h/3

[2022-01-26 13:11] benipeled commented on #3356
@bentsi @ShlomiBalalis @roydahan is this issue still exist?
We can cut the unified-deb runtime in ~1h - can you please promote this issue?!

[2022-01-26 14:40] roydahan commented on #3356
@fruch when you have time, please look at this try to see if it has a quick solution.

[2022-01-26 20:09] fgelcer commented on #4376
what i see in here, is that the `reactor_stall_events_list.html` attachment file (basically, all the `debug.log` file) has 21Mb, meaning that, it is too big to be sent by email...

what should be done is to limit the file size (maybe the amount of entries), or just, as suggested, just add the link to the logs...
in other hand, maybe we should leave only the `ReactorStall` events, and remove the `K

[2022-01-26 20:10] fgelcer commented on #4376
@aleksbykov , WDYT? i will try to write these fixes tomorrow, so i would like to hear your opinion beforehand.

[2022-01-27 08:53] dkropachev commented on #4374
Fixed at https://github.com/scylladb/scylla-cluster-tests/pull/4379

[2022-01-27 08:53] #4374 closed

[2022-01-27 12:42] fgelcer commented on #4300
@ShlomiBalalis , fix was merged, could you please confirm if you the issue is now fixed (and close this issue)?

[2022-01-27 14:51] vponomaryov opened #4386 "scylla-bench fails when it's target node gets offline by nemesis"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: any

### Logs
* test_id: 48904fb1-3096-4509-8933-06fcfcf4b651
* job log: https://jenkins.scylladb.com/view/scylla-operator/job/scylla-operator/job/operator-1.7/job/eks/job/longevity-scylla-operator-twcs-48h

[2022-01-30 08:33] fruch opened #4389 "`web_install_scylla` doesn't work on master"
Seem like it's assuming to work only on release branches, and doesn't take master/enterprise branches into account
[code]

[2022-01-30 10:15] fgelcer commented on #4386
@vponomaryov , shouldn't it be reported in the correct repo?
here:
https://github.com/scylladb/scylla-bench

[2022-01-31 07:57] yaronkaikov commented on #3356
@fruch @roydahan Please note that now that https://github.com/scylladb/scylla-pkg/pull/2724 was merged, i guess you will face this issue more and more

[2022-01-31 12:16] roydahan commented on #4301
@fruch I need your skills here.
I think that the issue started around October, but we seeing it a lot lately in many longevities (see also the scylla issue).

[2022-01-31 15:12] fruch commented on #4301
@bentsi, seem like it's happening only when fabric is used... is there a specific reason why we didn't moved everything to work with libssh2 ?

[2022-01-31 17:37] fruch commented on #3705
This is a print with level `!WARNING` can we treat it as such ? Even that the word exception appear in it ?

[2022-02-01 06:37] fruch opened #4393 "artifacts tests: centos 8 is EOL"
Since Jan/29 centos 8 is EOL, and failing like this:
[code]

Ref: https://www.centos.org/centos-linux-eol/

suggestion on how to fix it:
https://stackoverflow.com/questions/70926799/centos-through-vm-no-urls-in-mirrorlist

[2022-02-01 07:28] #4393 closed

[2022-02-01 10:38] yarongilor commented on #4389
fixed by https://github.com/scylladb/scylla-cluster-tests/pull/4398

[2022-02-01 10:38] #4389 closed

[2022-02-01 10:41] roydahan commented on #4301
Are there cases we use fabric and cases we use libssh2?

On Mon, Jan 31, 2022 at 17:13 Israel Fruchter ***@***.***>
wrote:

[2022-02-01 10:59] roydahan commented on #3705
Yes

On Mon, Jan 31, 2022 at 19:38 Israel Fruchter ***@***.***>
wrote:

[2022-02-01 14:08] fruch commented on #3705
This PR would mark this line as warning:
https://github.com/scylladb/scylla-cluster-tests/pull/4293

[2022-02-01 14:11] fruch commented on #4301
Yes, fabric is the default. and only a handful of yamls are using libssh2

The -1 in here is coming from fabric code, in case there wasn't able to get return code, mostly when connection disconnects.

[2022-02-01 14:45] roydahan commented on #4301
Let's change remote commands (at least nodetool) to use libssh2.
I want a limited fix, not a full refactor so we can backport safely.

[2022-02-01 14:58] fruch commented on #4301
I don't think it would be a refactor, changing the default `ssh_transport`.
Changing only nodetool to a different remote, is a bigger change.

[2022-02-01 15:00] roydahan commented on #4301
ok, send a PR and we will get @bentsi and others to comment why wasn't it changed till now.

[2022-02-01 18:20] fgelcer commented on #4389
@yarongilor , when you add to your commit message `fixes #<issue number>` it closes automatically the issue, so no action needed for it...

[2022-02-02 01:33] #4333 closed

[2022-02-02 11:52] roydahan commented on #4234
I suspect that the node that it was trying to run on didn't have much data on it (either was added lately or don't have the same shard amount).

[2022-02-02 13:40] yarongilor opened #4402 "Change Loader core-dump event to a different type than DB nodes"
Currently a loader core dump is reported like:
`2022-02-02 03:17:29.563: (CoreDumpEvent Severity.ERROR) period_type=one-time event_id=ee467824-4cc4-4143-acae-4e3ccb53d30e node=Node longevity-large-partitions-200k-pks-loader-node-675ad286-1 [34.243.249.78 | 10.0.0.199] (seed: False)`

(example in https://github.com/scylladb/scylla/issues/10019)

[2022-02-02 13:46] fruch commented on #4402
@yarongilor what exactly you are asking in this issue ? You have the name of the node right there, what else do you need ?

[2022-02-02 16:23] yarongilor commented on #4402
@fruch , i think it needs something to perhaps make it clearer to be different than the DB nodes core dump. so a different type can be good, perhaps even a different severity, like `warning` instead of `error`. it doesn't necessarily have to fail the test if encountered a s-b bug. please also comment if you or @roydahan have additional ideas.

[2022-02-02 17:46] vponomaryov opened #4404 "test_drain_terminate_decommission_add_node_kubernetes fails on the local K8S (kind)"
### Prerequisites

* [x] Are you rebased to master ?
* [x] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: master
* **scylla**: 4.5.3
* **operator**: 1.7.0 and 1.7.1

### Logs
* test_id: 94dc01cf-eb86-4076-838f-9f65fc52deee
* job log: https://jenkins.scylladb.com/view/scylla-operator/job/scylla-operator/job/operator-1.7/job/function

[2022-02-02 17:54] vponomaryov commented on #4404
K8S logs: [kind-replace-failure-v2.tar.gz](https://github.com/scylladb/scylla-cluster-tests/files/7988943/kind-replace-failure-v2.tar.gz)

[2022-02-02 18:03] vponomaryov commented on #4404
From the another run:

[code]

The new pod (UJ  10.96.86.25) tries to join the cluster and fails to do it all the time. From time to time it gets removed from the list of nodes in nodetool.
The old one (DN  10.96.156.194 ) doesn't get removed in such a case at all.

[2022-02-03 07:13] fruch commented on #4402
If s-b is used as main load, it should fail the test, if it was part of a nemesis, we always fail the test on failed nemesis. So I don't see a reason to lower the severity.

I'm not sure as to how it can be clear, a new field might help ? something like node_type ?

[2022-02-03 11:48] roydahan commented on #4402
I don't want to lower the severity, it  would be better if we can clearly  differ the event by its name.
CoreDump event of scylla vs CoreDump event  of the   loader.
In this case, I don't know how and why, it didn't cause the load to stop or at least the  test to detect it.

[2022-02-03 15:48] fruch commented on #4402
Coredumps are not critical events we don't stop the test cause of them.

[2022-02-06 10:36] fgelcer commented on #2790
it is failing again with the same error (from `events.log`):
[code]

logs are here:

+-----------------------------------------------------------------------------------------------------------------------------------------------+
|                                        Collected logs by test-id: 34ca1b0e-1a1f-4ad6-b4b9-3a365985c6f0                                        |
+-------------+--------

[2022-02-06 10:42] fgelcer opened #4408 "YCSB events - continues events are not correctly set"
looking at the continues events, YCSB events are not doing it right:

[code]

[code]

and in the same test, looking at another event (`NodetoolEvent`) we see the `period_type` defined:
[code]

[code]

full logs are here:
[code]

[2022-02-06 13:14] fgelcer commented on #2790
same happened on another upgrade test:
[code]

[2022-02-07 00:02] #4301 closed

[2022-02-07 09:07] bentsi commented on #4404
we need to investigate this and get to the root cause. I will add a task for that

[2022-02-07 14:43] aleksbykov opened #4417 "nemesis stuck due to issue in session.execute_async"
### Prerequisites

* [x] Are you rebased to master ?
* [ ] Is it reproducible ?
* [x] Did you perform a cursory search if this issue isn't opened ?

### Versions
* **SCT**: branch-4.6/master
* **scylla**: 4.6.rc4

### Logs
* test_id: [look for 'the Test ID' at the end of the log]
* job log: https://cloudius-jenkins-test.s3.amazonaws.com/68d5f270-2035-45a2-8583-209c433eb8ca/20220204_172639/sct-runn